    <!-- Start Body Main -->
    <div class="container-fluid" style="padding-left: 0;padding-right: 0;">
        <div class="container text-center">
            <span class="header" routerLink="/About/AboutUs"routerLinkActive="active">About Us</span>
            <nav class="navbar navbar-expand-md text-center">
                <button class="navbar-toggler ml-auto" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false">
                    <i class="fa fa-angle-down"></i>
                </button>
                <div id="my-nav" class="collapse navbar-collapse">
                    <ul class="navbar-nav m-auto pb-4">
                        <li class="nav-item mx-4 mr-auto drop">
                            <a class="nav-link" routerLink="/About/legoGroup"routerLinkActive="active">The LEGO Group</a>
                            <div class="dropdown-content text-left">
                                <a href="#">Management</a>
                                <a href="#">The LEGO Brand</a>
                                <a href="#">Ownership</a>
                                <a href="#">Policies and Reporting</a>
                            </div>
                        </li>
                        <li class="nav-item mx-4 mr-auto drop">
                            <a class="nav-link" routerLink="/About/sustainability"routerLinkActive="active">Sustainability</a>
                            <div class="dropdown-content text-left">
                                <a href="#">Children</a>
                                <a href="#">Environment</a>
                                <a href="#">People</a>
                                <a href="#">Sustainability reporting</a>
                                <a href="#">Discover</a>
                                <a href="#">Newsroom</a>
                            </div>
                        </li>
                        <li class="nav-item mx-4 mr-auto">
                            <a class="nav-link" routerLink="/About/discover"routerLinkActive="active">Discover</a>
                        </li>
                        <li class="nav-item mx-4 mr-auto">
                            <a class="nav-link" href="#">Newsroom</a>
                        </li>
                        <li class="nav-item mx-4 mr-auto drop">
                            <a class="nav-link" href="#">Careers</a>
                            <div class="dropdown-content text-left">
                                <a routerLink="/About/whoWe"routerLinkActive="active">Who we are</a>
                                <a href="#">Why join us</a>
                                <a href="#">Behind the Bricks</a>
                                <a href="#">Candidate Zone</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container text-center">
            <h1>The LEGO Group</h1>            
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <img src="assets/images/the-lego-group.jpg" width="100%">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 text-center p-4">
                    <h2 class="m-4" style="font-weight: bold;">The LEGO Group is a privately held company based in Billund, Denmark. The company is still owned by the Kirk Kristiansen family who founded it in 1932.</h2>
                </div>
                <div class="col-12 linkA  text-center p-4">
                    <a href="">Learn about the LEGO Group
                    <i class="fa fa-angle-right ml-2 "></i></a>
                </div>
            </div>
        </div>
        <div class="container-fluid row justify-content-center" style="background: #FBFBFB; padding-bottom: 80px;">
            <div class="text-center cenDIV col-6">
                <img src="assets/images/group1.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
                <h3>The LEGO Brand</h3>
                <p>We care deeply for our people who are part of making LEGO® play experiences possible and are committed to upholding human rights and ensuring safe, healthy and respectful workplaces for our employees. We strive to champion responsible business principles across the company.</p>
                <div class="col-12 linkA  text-center p-4">
                    <a href="">Learn about the LEGO Brand
                    <i class="fa fa-angle-right ml-2 "></i></a>
                </div>
            </div>
            <div class="text-center cenDIV col-6">
                <img src="assets/images/group2.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
                <h3>Our Promises</h3>
                <p>We know that play is vital to every child’s development. When children play, they learn to solve problems, to be creative, and to become resilient. It helps them thrive in a complex and challenging world.</p>
                <div class="col-12 linkA  text-center p-4">
                    <a href="">Learn about the Our Promise
                    <i class="fa fa-angle-right ml-2 "></i></a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row" style="background: url('/../assets/images/management.jpg'); background-size: cover; background-repeat: no-repeat;">
                <div class="col-4 text-center pt-4" style="background: rgba(0, 0, 0, 0.562);color: #fff;">
                    <p style="font-size: 16px;font-weight: bold;">Management</p>
                    <p style="font-size: 14px;">The LEGO® Group’s top management consists of an Executive Leadership Team made up of 10 members and a Board of Directors.</p>
                    <div class="linkA">
                        <a href="" style="color: #fff !important;font-size: 14px;">Discover the management team
                        <i class="fa fa-angle-right ml-2 "></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container m-4 py-4">
            <div class="row">
                <div class="text-center col-12" style="cursor: pointer;">
                    <img src="assets/images/Ownership_tall.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
                    <p>The LEGO Group is owned by KIRKBI A/S (75%) and the LEGO Foundation (25%)</p>
                    <div class="linkA p-2">
                        <a href="">Get more information about the LEGO Group ownership
                        <i class="fa fa-angle-right ml-2 "></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
    </div>
    <!-- End Body Main -->