    <!-- Start Body Main -->
    <div class="container-fluid" style="padding-left: 0;padding-right: 0;overflow-x: hidden;">
        <div class="container text-center">
            <span class="header" routerLink="/About/AboutUs"routerLinkActive="active">About Us</span>
            <nav class="navbar navbar-expand-md text-center">
                <button class="navbar-toggler ml-auto" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false">
                    <i class="fa fa-angle-down"></i>
                </button>
                <div id="my-nav" class="collapse navbar-collapse">
                    <ul class="navbar-nav m-auto pb-4">
                        <li class="nav-item mx-4 mr-auto drop">
                            <a class="nav-link" routerLink="/About/legoGroup"routerLinkActive="active">The LEGO Group</a>
                            <div class="dropdown-content text-left">
                                <a href="#">Management</a>
                                <a href="#">The LEGO Brand</a>
                                <a href="#">Ownership</a>
                                <a href="#">Policies and Reporting</a>
                            </div>
                        </li>
                        <li class="nav-item mx-4 mr-auto drop">
                            <a class="nav-link" routerLink="/About/sustainability"routerLinkActive="active">Sustainability</a>
                            <div class="dropdown-content text-left">
                                <a href="#">Children</a>
                                <a href="#">Environment</a>
                                <a href="#">People</a>
                                <a href="#">Sustainability reporting</a>
                                <a href="#">Discover</a>
                                <a href="#">Newsroom</a>
                            </div>
                        </li>
                        <li class="nav-item mx-4 mr-auto">
                            <a class="nav-link" routerLink="/About/discover"routerLinkActive="active">Discover</a>
                        </li>
                        <li class="nav-item mx-4 mr-auto">
                            <a class="nav-link" href="#">Newsroom</a>
                        </li>
                        <li class="nav-item mx-4 mr-auto drop">
                            <a class="nav-link" href="#">Careers</a>
                            <div class="dropdown-content text-left">
                                <a routerLink="/About/whoWe"routerLinkActive="active">Who we are</a>
                                <a href="#">Why join us</a>
                                <a href="#">Behind the Bricks</a>
                                <a href="#">Candidate Zone</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- main -->
        <div class="container-fluid text-center mb-3">
            <div class="row">
                <div class="col-12">
                    <h1>Sustainability</h1>
                </div>
            </div>            
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12" style="padding: 0;">
                    <img src="assets/images/Pass_It_On_A_GIF_Header.gif" width="100%">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 text-center p-4">
                    <h2 class="m-4" style="font-weight: bold;">Together, we can rebuild the world</h2>
                </div>
                <div class="col-12 text-center">
                    <h6>At the LEGO Group, we’re playing our part in building a sustainable future and creating a better, brighter world for our children to inherit. Find out how we’re joining forces with others to have a lasting impact and inspire the children of today to become the builders of tomorrow.</h6>
                </div>
            </div>
        </div>
        <div class="container-fluid row justify-content-center" style="font-size: 14px !important;">
            <div class="text-center cenDIV col-md-4 col-6">
                <img src="assets/images/Sustainability_Children1.png" class="rounded mb-3" alt="Cinque 1" width="100%">
                <h3>Children</h3>
                <p>We care deeply for our people who are part of making LEGO® play experiences possible and are committed to upholding human rights and ensuring safe, healthy and respectful workplaces for our employees. We strive to champion responsible business principles across the company.</p>
                <div class="col-12 linkA  text-center p-3">
                    <a href="">Read more
                    <i class="fa fa-angle-right ml-1"></i></a>
                </div>
            </div>
            <div class="text-center cenDIV col-md-4 col-6">
                <img src="assets/images/Sustainability_Children2.png" class="rounded mb-3" alt="Cinque 1" width="100%">
                <h3>Environment</h3>
                <p>We know that play is vital to every child’s development. When children play, they learn to solve problems, to be creative, and to become resilient. It helps them thrive in a complex and challenging world.</p>
                <div class="col-12 linkA  text-center p-4">
                    <a href="">Read more
                    <i class="fa fa-angle-right ml-1"></i></a>
                </div>
            </div>
            <div class="text-center cenDIV col-md-4 col-6">
                <img src="assets/images/Sustainability_Children3.png" class="rounded mb-3" alt="Cinque 1" width="100%">
                <h3>People</h3>
                <p>We know that play is vital to every child’s development. When children play, they learn to solve problems, to be creative, and to become resilient. It helps them thrive in a complex and challenging world.</p>
                <div class="col-12 linkA  text-center p-4">
                    <a href="">Read more
                    <i class="fa fa-angle-right ml-1"></i></a>
                </div>
            </div>
        </div>
        <div class="container-fluid row justify-content-center text-center" style="font-size: 13px !important;background: #EEE;padding: 0;margin: 0;">
            <h3 class="col-12 mt-4">Sustainability news</h3>
            <div class="cenDIV col-md-4 col-6">
                <img src="assets/images/Sustainability_Children4.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
                <p>The Lego Gruop's carbon goal approved by Science Based Targets initiative</p>
                <div class="linkA  text-center p-3  pb-0">
                    <a href="">Read more
                    <i class="fa fa-angle-right ml-1"></i></a>
                </div>
            </div>
            <div class="cenDIV col-md-4 col-6">
                <img src="assets/images/Sustainability_Children5.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
                <p>The Lego Gruop launches new range of activities to help the whole family feel empowered to act against cyberbullying</p>
                <div class="linkA  text-center pt-3  pb-0">
                    <a href="">Read more
                    <i class="fa fa-angle-right ml-1"></i></a>
                </div>
            </div>
            <div class="cenDIV col-md-4 col-6">
                <img src="assets/images/Sustainability_Children6.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
                <p>LEGO Group to invest up to U$$400 million over three years to accelerate sustainability efforts</p>
                <div class="linkA  text-center p-4  pb-0">
                    <a href="">Read more
                    <i class="fa fa-angle-right ml-1"></i></a>
                </div>
            </div>
        </div>
        <div class="container-fluid text-center">
            <h1 class="m-4">Learn more about our sustainability ambitions</h1>
        </div>
        <!--  -->
        <div class="container-fluid row justify-content-center text-center mb-4" style="padding: 0;margin: 0;">
            <div class="cenDIV col-md-3 col-6">
                <img src="assets/images/Sustainab11.png" class="rounded mb-3" alt="Cinque 1" width="100%">
                <div class="linkA  text-center p-3  pb-0">
                    <a href="" style="font-size: 12px !important;">sustainable materials
                    <i class="fa fa-angle-right ml-1"></i></a>
                </div>
            </div>
            <div class="cenDIV col-md-3 col-6">
                <img src="assets/images/Sustainab22.png" class="rounded mb-3" alt="Cinque 1" width="100%">
                <div class="linkA  text-center pt-3  pb-0">
                    <a href="" style="font-size: 12px !important;">sustainable packaging
                    <i class="fa fa-angle-right ml-1"></i></a>
                </div>
            </div>
            <div class="cenDIV col-md-3 col-6">
                <img src="assets/images/Sustainab33.png" class="rounded mb-3" alt="Cinque 1" width="100%">
                <div class="linkA  text-center p-4  pb-0">
                    <a href="" style="font-size: 12px !important;">Reducing waste
                    <i class="fa fa-angle-right ml-1"></i></a>
                </div>
            </div>
            <div class="cenDIV col-md-3 col-6">
                <img src="assets/images/Sustainab44.png" class="rounded mb-3" alt="Cinque 1" width="100%">
                <div class="linkA  text-center p-4  pb-0">
                    <a href="" style="font-size: 12px !important;">Co2 impact
                    <i class="fa fa-angle-right ml-1"></i></a>
                </div>
            </div>
            <div class="cenDIV col-md-3 col-6">
                <img src="assets/images/Sustainab1.png" class="rounded mb-3" alt="Cinque 1" width="100%">
                <div class="linkA  text-center p-3  pb-0">
                    <a href="" style="font-size: 12px !important;">Diversity and inclusion
                    <i class="fa fa-angle-right ml-1"></i></a>
                </div>
            </div>
            <div class="cenDIV col-md-3 col-6">
                <img src="assets/images/Sustainab2.png" class="rounded mb-3" alt="Cinque 1" width="100%">
                <div class="linkA  text-center pt-3  pb-0">
                    <a href="" style="font-size: 12px !important;">Work in local communities
                    <i class="fa fa-angle-right ml-1"></i></a>
                </div>
            </div>
            <div class="cenDIV col-md-3 col-6">
                <img src="assets/images/Sustainab3.png" class="rounded mb-3" alt="Cinque 1" width="100%">
                <div class="linkA  text-center p-4  pb-0">
                    <a href="" style="font-size: 12px !important;">Responsible engagement with children
                    <i class="fa fa-angle-right ml-1"></i></a>
                </div>
            </div>
            <div class="cenDIV col-md-3 col-6">
                <img src="assets/images/Sustainab4.png" class="rounded mb-3" alt="Cinque 1" width="100%">
                <div class="linkA  text-center p-4  pb-0">
                    <a href="" style="font-size: 12px !important;">Family friendly workplace
                    <i class="fa fa-angle-right ml-1"></i></a>
                </div>
            </div>
            <div class="cenDIV col-md-3 col-6">
                <img src="assets/images/Sustainab5.png" class="rounded mb-3" alt="Cinque 1" width="100%">
                <div class="linkA  text-center p-4  pb-0">
                    <a href="" style="font-size: 12px !important;">Help families through play
                    <i class="fa fa-angle-right ml-1"></i></a>
                </div>
            </div>
            <div class="cenDIV col-md-3 col-6">
                <img src="assets/images/Sustainab6.png" class="rounded mb-3" alt="Cinque 1" width="100%">
                <div class="linkA  text-center p-4  pb-0">
                    <a href="" style="font-size: 12px !important;">Responsible supply chain
                    <i class="fa fa-angle-right ml-1"></i></a>
                </div>
            </div>
        </div>
        <!-- end main -->
    </div>
    <!-- End Body Main -->