<div class="container-fluid footer1 ">
    <div class="row">
      <div class="footer1container1 pt-3 col-lg-6 col-md-12 col-sm-12  col-xs-12">
        <div class="pb-5 footer1container11">
          <div class="mr-3" style="float: left;height: 100px;">
            <img src="assets\images\Support_2.png">
          </div>
          <div>
            <h2>NEED SUPPORT? CONTACT US</h2>
            <p>Our dedicated LEGO experts are here to help</p>
            <p><a href="#ff"> <i class="fas fa-envelope-open"
                  style="color: white; font-size: 20px; margin-right: 5px;"></i> Contact Us</a></p>
          </div>
        </div>
      </div>
      <div class="footer1container2 pt-3 col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
        <div class="pb-5">
          <h2 class="mb-4">THE OFFICIAL LEGO® GUARANTEE</h2>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 footer1container21">
              <div>
                <img src="assets\images\Free_Delivery_2.png">
              </div>
              <div class="footer1container2content">
                <a href="#ff">FREE delivery with orders over $35! All year round</a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 footer1container22 ">
              <div>
                <img src="assets\images\VIP_Footer_2.png">
              </div>
              <div class="footer1container2content">
                <a href="#ff">Earn points on every purchase and benefit from members-only promotions</a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 footer1container23">
              <div>
                <img src="assets\images\Missing_Pieces_2.png">
              </div>
              <div class="footer1container2content">
                <a href="#ff">Missing any pieces or instructions? Let us know and we’ll deliver it to you.</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end-->



  <!--start-->
  <div class="container-fluid footer2">
    <div class="row p-3">
      <div class="col-lg-10 col-md-12 footer2content1">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <h2>SUBSCRIBE TO LEGO® SHOP EMAILS </h2>
            <p>Be the first to hear about brand new sets, exclusive products, promotions and events taking place in LEGO
              stores</p>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" placeholder="Your Email Address" aria-label="Your Email Address"
                aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                  style="border:none;color :black ;background-color:rgb(253,128,36);">continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-12 mt-3">
        <h2>FOLLOW US</h2>
        <div class="d-flex py-3">

          <a class="mr-1" href="aa">
            <img src="assets\images\facebook-94eac66c1910a1b2ef861ad82c685d68.png">
          </a>
          <a class="mr-1" href="aa">
            <img src="assets\images\twitter-406b34968a0833ec9d67c03d0f96704c.png">
          </a>
          <a class="mr-1" href="aa">
            <img src="assets\images\instagram-56ae5054868540f5754edc4a5c25d9c7.png">
          </a>
          <a class="mr-1" href="aa">
            <img src="assets\images\youtube-9e7818b52c1ef02dfa652fe32d028ce5.png">
          </a>
        </div>
      </div>


    </div>

  </div>
  <!--end-->

  <!--start-->
  <div class="container-fluid footer3">
    <div class="row py-3">
      <div class="col-lg-3 col-md-12 col-sm-12 grayborder">
        <p class="mb-3 footer3titles"><strong>FIND A STORE</strong></p>
        <div class=" mb-3 input-group input-group-lg">
          <input type="text" class="form-control" placeholder="Find a LEGO® Store" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2"
              style="border:none;color :black ;background-color:rgb(253,128,36);">
              <svg width="16" height="16"
                class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
                viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
                <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
              </svg>
            </button>
          </div>
        </div>
        <p class="mb-5" style="color: rgb(44,44,44);">Enter your city, postcode or country to find the nearest official
          LEGO Store to you.</p>
        <div class=" mb-4">
          <p class="footer3titles"><a href="#ff"> <strong>Gift Cards</strong></a></p>
        </div>
        <div class="mb-4">
          <p class="footer3titles"><a href="#ff"> <strong>LEGO Catalogue</strong></a></p>
        </div>
        <div class="mb-4">
          <p class="footer3titles"><a href="#ff"><strong> Minibuilds</strong></a></p>
        </div>


      </div>
      <div class="col-lg-9 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-lg-3 col-md-12 col-sm-12 grayborder">
            <p class="pb-3 footer3titles footer3titles2" id="aboutusbtn1"> <strong>ABOUT US</strong></p>
            <p class="footer3titles footer3titles2" id="aboutusbtn2" (click)="list1()"><strong>ABOUT US</strong></p>

            <ul class="p-0" id="aboutuslist1">
              <li class="py-2">
                <p><a href="#ff">About the LEGO Group</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">LEGO® News</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">Our Responsibility</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">Supply Chain Transparency Statement</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">LEGO Product Certification</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">LEGO Jobs</a></p>
              </li>
            </ul>
            <ul class="p-0" id="aboutuslist2" style="display: none;">
              <li class="py-2">
                <p><a href="#ff">About the LEGO Group</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">LEGO® News</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">Our Responsibility</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">Supply Chain Transparency Statement</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">LEGO Product Certification</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">LEGO Jobs</a></p>
              </li>
            </ul>

          </div>
          <div class="col-lg-3 col-md-12 col-sm-12 grayborder">
            <p class="pb-3 footer3titles footer3titles2" id="SUPPORT1"><strong>SUPPORT</strong></p>
            <p class="footer3titles footer3titles2" id="SUPPORT2" (click)="list2()"><strong>SUPPORT</strong></p>
            <ul class="p-0" id="SUPPORTlist1">
              <li class="py-2">
                <p> <a>Contact Us</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">Find Building Instructions</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">Replacement Parts</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">Shipping and Returns</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">Payment Methods</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">Terms & Conditions</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">Product Recalls</a></p>
              </li>

            </ul>
            <ul class="p-0" id="SUPPORTlist2" style="display: none;">
              <li class="py-2">
                <p> <a>Contact Us</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">Find Building Instructions</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">Replacement Parts</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">Shipping and Returns</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">Payment Methods</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">Terms & Conditions</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">Product Recalls</a></p>
              </li>

            </ul>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12 grayborder">
            <p class="pb-3 footer3titles footer3titles2" id="ATTRACTIONS1"><strong>ATTRACTIONS</strong></p>
            <p class="footer3titles footer3titles2" id="ATTRACTIONS2" (click)="list3()"><strong>ATTRACTIONS</strong></p>

            <ul class="p-0" id="ATTRACTIONSlist1">
              <li class="py-2">
                <p> <a>LEGO® House</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">LEGOLAND® Parks</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">Our Responsibility</a></p>
              </li>
            </ul>
            <ul class="p-0" id="ATTRACTIONSlist2" style="display: none;">
              <li class="py-2">
                <p> <a>LEGO® House</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">LEGOLAND® Parks</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">Our Responsibility</a></p>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12">
            <p class="pb-3 footer3titles footer3titles2" id="MOREFROMUS1"> <strong>MORE FROM US</strong> </p>
            <p class="footer3titles footer3titles2" id="MOREFROMUS2" (click)="list4()"><strong>MORE FROM US</strong></p>

            <ul class="p-0" id="MOREFROMUSlist1">
              <li class="py-2">
                <p> <a>LEGO® LIFE</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">LEGO Education</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">LEGO Ideas</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">LEGO Foundation</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">Affiliate Program</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">Student Offers</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">LEGO® Braille Bricks</a></p>
              </li>

            </ul>
            <ul class="p-0" id="MOREFROMUSlist2" style="display: none;">
              <li class="py-2">
                <p> <a>LEGO® LIFE</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">LEGO Education</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">LEGO Ideas</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">LEGO Foundation</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">Affiliate Program</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">Student Offers</a></p>
              </li>
              <li class="py-2">
                <p><a href="#ff">LEGO® Braille Bricks</a></p>
              </li>

            </ul>
          </div>

        </div>
      </div>



    </div>
  </div>
  <!--end-->

  <!--start-->
  <div class="container-fluid footer4">
    <div class="row p-3">
      <div>
        <img src="assets\images\Lego-logo.jpg" id="logo">
      </div>
      <div>
        <button>
          <img src="assets\images\us-4ebaed6a76e4d7930e0b2c9e86a43389.png">
          change Region </button>
      </div>

    </div>
    <div class="row px-3 py-2">
      <ul>
        <li><a href="#ff"><strong>Privacy Policy </strong></a></li>
        <li><a href="#ff"><strong>Cookies</strong></a></li>
        <li><a href="#ff"><strong>Cookie Settings</strong></a></li>
        <li><a href="#ff"><strong>Cookie Settings</strong></a></li>
        <li><a href="#ff"><strong>Terms of Use</strong></a></li>
        <li><a href="#ff"><strong>Digital Wellbeing</strong></a></li>
        <li><a href="#ff"><strong>Do Not Sell My Personal Information</strong></a></li>
        <li><a href="#ff"><strong>Accessibility</strong></a></li>
      </ul>
    </div>
    <div class="row px-3 py-3 lastfooter mb-3">
      <p>
        LEGO System A/S, DK-7190 Billund, Denmark. Must be 18 years or older to purchase online. LEGO, the LEGO logo,
        the Minifigure, DUPLO, LEGENDS OF CHIMA, NINJAGO, BIONICLE, MINDSTORMS and MIXELS are trademarks and copyrights
        of the LEGO Group. ©2020 The LEGO Group. All rights reserved. Use of this site signifies your agreement to the
        terms of use.
      </p>

    </div>


  </div>