  <div class="container-fluid footer1 text-justify">
    <div class="row">
      <div class="footer1container1 pt-3 col-lg-6 col-md-12 col-sm-12  col-xs-12">
        <div class="pb-5 footer1container11">
          <div class="mr-3" style="float: left;height: 100px;">
            <img src="assets\images\Support_2.png">
          </div>
          <div>
            <h2>{{'footer.NEED' | translate}}</h2>
            <p>{{'footer.dedicated' | translate}}</p>
            <p><a href="javascript:void(0)"> <i class="fas fa-envelope-open"
                  style="color: white; font-size: 20px; margin-right: 5px;"></i> {{'About.Contact' | translate}}</a></p>
          </div>
        </div>
      </div>
      <div class="footer1container2 pt-3 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="pb-5">
          <h2 class="mb-4 text-justify" dir="auto">{{'footer.GUARANTEE' | translate}}</h2>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 footer1container21">
              <div>
                <img src="assets\images\Free_Delivery_2.png">
              </div>
              <div class="footer1container2content">
                <a href="javascript:void(0)">{{'footer.delivery' | translate}}</a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 footer1container22 ">
              <div>
                <img src="assets\images\VIP_Footer_2.png">
              </div>
              <div class="footer1container2content">
                <a href="javascript:void(0)">{{'footer.promotions' | translate}}</a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 footer1container23">
              <div>
                <img src="assets\images\Missing_Pieces_2.png">
              </div>
              <div class="footer1container2content">
                <a href="javascript:void(0)">{{'footer.Missing' | translate}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end-->



  <!--start-->
  <div class="container-fluid footer2">
    <div class="row p-3">
      <div class="col-lg-10 col-md-12 footer2content1">
        <div class="row">
          <div class="col-lg-6 col-md-12 text-justify" dir="auto">
            <h2>{{'footer.SUBSCRIBE' | translate}}</h2>
            <p>{{'footer.stores' | translate}}</p>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" placeholder="Your Email Address" aria-label="Your Email Address"
                aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                  style="border:none;color :black ;background-color:rgb(253,128,36);">{{'footer.continue' | translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-12 mt-3 text-justify" dir="auto">
        <h2>{{'footer.FOLLOW' | translate}}</h2>
        <div class="d-flex py-3">

          <a class="mr-1" href="javascript:void(0)">
            <img src="assets\images\facebook-94eac66c1910a1b2ef861ad82c685d68.png">
          </a>
          <a class="mr-1" href="javascript:void(0)">
            <img src="assets\images\twitter-406b34968a0833ec9d67c03d0f96704c.png">
          </a>
          <a class="mr-1" href="javascript:void(0)">
            <img src="assets\images\instagram-56ae5054868540f5754edc4a5c25d9c7.png">
          </a>
          <a class="mr-1" href="javascript:void(0)">
            <img src="assets\images\youtube-9e7818b52c1ef02dfa652fe32d028ce5.png">
          </a>
        </div>
      </div>


    </div>

  </div>
  <!--end-->

  <!--start-->
  <div class="container-fluid footer3">
    <div class="row py-3">
      <div class="col-lg-3 col-md-12 col-sm-12 grayborder">
        <p class="mb-3 footer3titles text-justify" dir="auto"><strong>{{'footer.FIND' | translate}}</strong></p>
        <div class=" mb-3 input-group input-group-lg">
          <input type="text" class="form-control" placeholder="Find a LEGO® Store" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2"
              style="border:none;color :black ;background-color:rgb(253,128,36);">
              <svg width="16" height="16"
                class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
                viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
                <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
              </svg>
            </button>
          </div>
        </div>
        <p class="mb-5 text-justify" dir="auto" style="color: rgb(44,44,44);">{{'footer.postcode' | translate}}</p>
        <div class=" mb-4 text-justify" dir="auto">
          <p class="footer3titles"><a href="javascript:void(0)"> <strong>{{'footer.Gift' | translate}}</strong></a></p>
        </div>
        <div class="mb-4 text-justify" dir="auto">
          <p class="footer3titles"><a href="javascript:void(0)"> <strong>{{'footer.Catalogue' | translate}}</strong></a></p>
        </div>
        <div class="mb-4 text-justify" dir="auto">
          <p class="footer3titles"><a href="javascript:void(0)"><strong> {{'footer.Minibuilds' | translate}}</strong></a></p>
        </div>


      </div>
      <div class="col-lg-9 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-lg-3 col-md-12 col-sm-12 grayborder text-justify" dir="auto">
            <p class="pb-3 footer3titles footer3titles2" id="aboutusbtn1"> <strong>{{'About.AboutUs' | translate}}</strong></p>
            <p class="footer3titles footer3titles2" id="aboutusbtn2" (click)="list1()"><strong>{{'About.AboutUs' | translate}}</strong></p>

            <ul class="p-0 text-justify" dir="auto" id="aboutuslist1">
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.AboutGroup' | translate}}</a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.News' | translate}}</a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Responsibility' | translate}} </a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Statement' | translate}}</a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Certification' | translate}}</a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Jobs' | translate}} </a></p>
              </li>
            </ul>
            <ul class="p-0 text-justify" dir="auto" id="aboutuslist2" style="display: none;">
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.AboutGroup' | translate}}</a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.News' | translate}}</a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Responsibility' | translate}} </a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Statement' | translate}}</a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Certification' | translate}}</a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Jobs' | translate}} </a></p>
              </li>
            </ul>

          </div>
          <div class="col-lg-3 col-md-12 col-sm-12 grayborder text-justify" dir="auto">
            <p class="pb-3 footer3titles footer3titles2" id="SUPPORT1"><strong>{{'header.Support' | translate}}</strong></p>
            <p class="footer3titles footer3titles2" id="SUPPORT2" (click)="list2()"><strong>{{'header.Support' | translate}}</strong></p>
            <ul class="p-0 text-justify" dir="auto" id="SUPPORTlist1">
              <li class="py-2">
                <p> <a>{{'About.Contact' | translate}}</a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Instructions' | translate}}</a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Replacement' | translate}}</a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Shipping' | translate}}</a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Payment' | translate}}</a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Terms' | translate}}</a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Recalls' | translate}}</a></p>
              </li>

            </ul>
            <ul class="p-0 text-justify" dir="auto" id="SUPPORTlist2" style="display: none;">
              <li class="py-2">
                <p> <a>{{'About.Contact' | translate}}</a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Instructions' | translate}}</a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Replacement' | translate}}</a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Shipping' | translate}}</a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Payment' | translate}}</a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Terms' | translate}}</a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Recalls' | translate}}</a></p>
              </li>

            </ul>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12 grayborder text-justify" dir="auto">
            <p class="pb-3 footer3titles footer3titles2" id="ATTRACTIONS1"><strong>{{'footer.ATTRACTIONS' | translate}}</strong></p>
            <p class="footer3titles footer3titles2" id="ATTRACTIONS2" (click)="list3()"><strong>{{'footer.ATTRACTIONS' | translate}}</strong></p>

            <ul class="p-0 text-justify" dir="auto" id="ATTRACTIONSlist1">
              <li class="py-2">
                <p> <a>{{'footer.House' | translate}} </a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Parks' | translate}}</a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Responsibility' | translate}}</a></p>
              </li>
            </ul>
            <ul class="p-0 text-justify" dir="auto" id="ATTRACTIONSlist2" style="display: none;">
              <li class="py-2">
                <p> <a>{{'footer.House' | translate}} </a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Parks' | translate}}</a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Responsibility' | translate}}</a></p>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12 text-justify" dir="auto">
            <p class="pb-3 footer3titles footer3titles2" id="MOREFROMUS1"> <strong>{{'footer.MORE' | translate}}</strong> </p>
            <p class="footer3titles footer3titles2" id="MOREFROMUS2" (click)="list4()"><strong>{{'footer.MORE' | translate}}</strong></p>

            <ul class="p-0 text-justify" dir="auto" id="MOREFROMUSlist1">
              <li class="py-2">
                <p> <a> {{'footer.LIFE' | translate}}</a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Education' | translate}} </a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)"> {{'footer.Ideas' | translate}}</a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Foundation' | translate}} </a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Affiliate' | translate}}</a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Student' | translate}}</a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Braille' | translate}}</a></p>
              </li>

            </ul>
            <ul class="p-0 text-justify" dir="auto" id="MOREFROMUSlist2" style="display: none;">
              <li class="py-2">
                <p> <a> {{'footer.LIFE' | translate}}</a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Education' | translate}}</a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)"> {{'footer.Ideas' | translate}}</a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Foundation' | translate}} </a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Affiliate' | translate}}</a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Student' | translate}} </a></p>
              </li>
              <li class="py-2">
                <p><a href="javascript:void(0)">{{'footer.Braille' | translate}}</a></p>
              </li>

            </ul>
          </div>

        </div>
      </div>



    </div>
  </div>
  <!--end-->

  <!--start-->
  <div class="container-fluid footer4" dir="auto">
    <div class="row p-3">
      <div>
        <img src="assets\images\Lego-logo.jpg" id="logo">
      </div>
      <div>
        <button>
          <img src="assets\images\us-4ebaed6a76e4d7930e0b2c9e86a43389.png">
          {{'footer.changeRegion' | translate}} </button>
      </div>

    </div>
    <div class="row px-3 py-2">
      <ul>
        <li><a href="javascript:void(0)"><strong>{{'footer.PrivacyPolicy' | translate}} </strong></a></li>
        <li><a href="javascript:void(0)"><strong>{{'footer.Cookies'  | translate}}</strong></a></li>
        <li><a href="javascript:void(0)"><strong>{{'footer.Settings' | translate}}</strong></a></li>
        <li><a href="javascript:void(0)"><strong>{{'footer.Settings' | translate}}</strong></a></li>
        <li><a href="javascript:void(0)"><strong>{{'footer.TermsUse' | translate}}</strong></a></li>
        <li><a href="javascript:void(0)"><strong>{{'footer.DigitalWellbeing' | translate}}</strong></a></li>
        <li><a href="javascript:void(0)"><strong>{{'footer.DoInformation' | translate}}</strong></a></li>
        <li><a href="javascript:void(0)"><strong>{{'footer.Accessibility' | translate}}</strong></a></li>
      </ul>
    </div>
    <div class="row px-3 py-3 lastfooter mb-3">
      <p>{{'footer.parag' | translate}}</p>

    </div>


  </div>