        <!-- Start Body Main -->
        <div class="container-fluid main">
            <div class="container-fluid nBar text-center py-2 align-self-center">
                <img src="assets/images/lodoNav.JPG" style="width: 55px;margin-right: 10px;">
                <span>FREE Ice Skatig Rink with purchases over $150 *</span>
                <a href="#">shop now</a>
            </div> 
            <div class="container-fluid content">
                <a href="#">Home</a>
                <span><i class="fa fa-angle-right"></i></span>
                <span>VIP</span>
            </div>  
            <div class="container-fluid">
                <div class="blue">
                    <div class="container">
                        <div class="row">
                            <div class="col-md col-12">
                                <div class="blackBlue">
                                    <h2>Get Rewarded with LEGO® VIP — It's FREE!</h2>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn">Get Rewards</button>
                                        <button type="button" class="btn butt2">Join Online</button>
                                    </div>
                                    <div><img class="imgBlue" src="assets/images/VIP.png" alt="VIP"></div>
                                    <div class="row customFont">
                                        <div class="col-md-5">
                                            <p>I have a LEGO Account and I'm already a VIP</p>
                                        </div>
                                        <div class="col-md-7">
                                            <button type="button" class="btn">Sign In <span>></span></button>
                                        </div>
                                    </div>
                                    <hr>
                                    <ul style="list-style-type:square;padding-left: 18px !important;padding-right: 22px !important;">
                                        <li>Earn points for shopping in LEGO Brand Retail Stores and at LEGO.com</li>
                                        <li>Unlock members-only discounts and experiences</li>
                                        <li>Get Early Access to Exclusive sets</li>
                                        <li>Enjoy members-only gifts and more</li>
                                        <li>Receive monthly promotions and specials for VIPs</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md col-12">
                                <img src="assets/images/King_VIP_Guide-min.png" style="width: 100%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="container-fluid">
                <div class="next">
                    <div class="container-fluid">
                        <div class="row" >
                            <div class="col-6 fontdiv">
                                <img src="assets/images/logo 1997.JPG" alt="">
                                <h2>LEGO Sweepstakes - Win a limited-edition Original</h2>
                                <p>Enter for your chance to win the Colette-branded collectible, designed by Sarah Andelman as a tribute to tye iconic concept stor.</p>
                                <button class="btn" style="font-size: 20px;width: 200px;">Learn more <span>></span></button>
                            </div>
                            <img class="col-6" src="assets/images/Originals_HighSnobiety-Home-202012-Hero-Standard-Large2.webp" width="100%">
                        </div>
                    </div>
                </div>      
            </div>  
            <div class="container-fluid" style="background: #094DAC;padding: 0 !important;">
                <div class="container-fluid text-center link">
                    <div class="row" style="padding-top: 10px;padding-bottom: 40px;">
                        <div class="col-6 text-right">
                            <a href="#"><img src="assets/images/VIP_Landing_Page_Quicklink_-_Terms_and_C.webp">
                                <br><br><span style="margin-left: 10px;">Terms and Conditions</span></a>
                        </div>
                        <div class="col-6 text-left">
                            <a href="#"><img src="assets/images/VIP_Landing_Page_Quicklink_-_FAQs.webp">
                                <br><br><span style="margin-left: 40px;">FAQs</span></a>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="container-fluid" style="background: #F8F8F8;">
                <div>
                    <div class="container-fluid">
                        <div class="relative" style="position: relative;">
                            <img src="assets/images/VIP_Landing_Page_Hero-Tall-Large.webp" width="100%">
                            <div>
                                <h2>What is LEGO® VIP?</h2>
                                <p>FREE to join, with no tiers or limits, LEGO® VIP is our loyalty program,
                                    where you earn points on each purchase when shopping in LEGO Stores or at LEGO.com</p>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>  
            <div class="container-fluid">
                <div class="row py-4 sec3">
                    <div class="col-6">
                        <div><img src="assets/images/VIP_-_Icon_-_Crown.jpeg"></div>
                        <h3>IT’S FREE TO BE VIP</h3>
                        <p class="text-center">Sign up online or in-store and start collecting points. You also get access to our Reward Centre and you can download a digital VIP card to your smartphone, too.</p>
                    </div>
                    <div class="col-6">
                        <div><img src="assets/images/VIP_Landing_Page_CopyContent_-_Points.png"></div>
                        <h3>COLLECT 6.5 POINTS FOR EACH $1 SPENT</h3>
                        <p class="text-center">Our flexible rewards structure makes it easy to redeem points anytime or save up for something big. You’ll earn at least 5% back in VIP points for discount on future LEGO purchases and your points go even further when using them on other rewards.</p>
                    </div>
                    <div class="col-6">
                        <div><img src="assets/images/VIP_Landing_Page_CopyContent_-_Online_Rewards.png"></div>
                        <h3>GET ACCESS TO ONLINE REWARDS</h3>
                        <p class="text-center">Get access to the online Rewards Center, where you can use your points for discount and access exclusive rewards only available to VIPs.</p>
                    </div>
                    <div class="col-6">
                        <div><img src="assets/images/VIP_Landing_Page_CopyContent_-_Early_Access.png"></div>
                        <h3>ENJOY EARLY ACCESS</h3>
                        <p class="text-center">Enjoy Early Access to some of our most desirable products, invitations to special events, and VIP-only promotions such as Double Points and our annual VIP weekend celebration.</p>
                    </div>
                </div>
            </div>
            <div class="container-fluid" style="background: #F8F8F8;padding: 0;">
                <div class="next" style="background: #F8F8F8;">
                    <div class="container-fluid">
                        <div class="relative2">
                            <img src="assets/images/Capture.JPG">
                            <div>
                                <h2 style="font-weight: 400;">Start Today And Build Your Balance Your Way</h2>
                                <p>Collecting VIP points can be as simple as following us on social media, telling us some more about yourself, and of course buying your favorite LEGO sets.</p>
                                <p style="font-weight: 375;">VIP works where you want to shop; you can use it in our stores or on LEGO.com (or both!)</p>
                                <button class="btn">Join now <span>></span></button>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>
            <div class="container-fluid">
                <h2 style="font-weight: 350;">About Rewards Centre</h2>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <div style="position: relative;">
                            <img src="assets/images/VIP_Landing_Page_Mixed-Block-Large.webp" style="width: 100%;">
                            <div style="position: absolute; left: 50px; top: 50px; z-index: 0;font-size: 16px;font-weight: 400;transform: scale(0.9);">
                                <p style="font-weight: 700;">Get The Rewards you Really (Really) Want</p>
                                <p class="ml-4 real">From unique digital downloads to LEGOLAND® tickets</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 row">
                        <div class="container col-11 scal mx-md-2 my-md-1 ml-1 mb-1">
                            <div class="row" style="background: #53BAE0;">
                                <img class="col-6 mr-auto" src="assets/images/VIP_Landing_Page_Mixed-Block-Large_2.webp" style="padding: 0 !important;">
                                <div  class="col-6" style="font-size: 16px;font-weight: 400;transform: scale(0.9);">
                                    <p style="font-weight: 700;">Redeem your Rewards</p>
                                    <p class="m-md-4">Once you're in, the only hard part is picking your reward.</p>
                                    <span class="dis">Redeem your Rewards</span>
                                </div>
                            </div>
                        </div>
                        <div class="container col-11 scal mx-md-2 my-md-4 pt-md-3 ml-1">
                            <div class="row" style="background: #53BAE0;">
                                <div class="col-6" style="font-size: 16px;font-weight: 400;transform: scale(0.9);">
                                    <p style="font-weight: 700;">See Your Points In One Place</p>
                                    <p class="ml-md-4 m-0">The Rewards Center is the place where you can also check your points balance and see your points history.</p>
                                    <span class="dis">See your Points In One Place</span>
                                </div>
                                <img  class="col-6 ml-auto" src="assets/images/VIP_Landing_Page_Mixed-Block-Large_3.webp" style="padding: 0 !important;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid mt-3 text-center vipDark" >
                <h2 style="padding-top: 50px;">VIP, IT'S EASY AS 1, 2, 3!</h2>
                <div>
                    <h2>1. SIGN UP OR SIGN IN</h2>
                    <p>Sign up online or in-store and start collecting points right away. You also get access to our Rewards Center and a digital VIP card.</p>
                </div>
                <div>
                    <h2>2. COLLECT POINTS</h2>
                    <p>Not only can you get VIP points for buying sets at LEGO Stores and online at LEGO.com, but also by engaging with us on social media, writing reviews, and more.</p>
                </div>
                <div>
                    <h2>3. GET AWESOME REWARDS</h2>
                    <p>Visit your Rewards Centre to unlock discounts and more LEGO exclusives. It's everything VIP, all in one place.</p>
                </div>
                <button class="btn">Join now <span><i class="fa fa-angle-right"></i></span></button>
                <img src="assets/images/VIP_Landing_Page_Gallery-Standard-Large.webp">
            </div>
            <!-- The End -->
        </div>
        <!-- End Body Main -->