<!-- Start Body Main -->
<div class="main text-center mb-4">
    <div class="container">
        <span class="header">About Us</span>
        <nav class="navbar navbar-expand-md text-center">
            <button class="navbar-toggler ml-auto" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
                aria-expanded="false">
                <span><i class="fa fa-angle-down"></i></span>
            </button>
            <div id="my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav m-auto pb-4">
                    <li class="nav-item mx-4 mr-auto drop">
                        <a class="nav-link" routerLink="/About/legoGroup" routerLinkActive="active">The LEGO Group</a>
                        <div class="dropdown-content text-left">
                            <a href="#">Management</a>
                            <a href="#">The LEGO Brand</a>
                            <a href="#">Ownership</a>
                            <a href="#">Policies and Reporting</a>
                        </div>
                    </li>
                    <li class="nav-item mx-4 mr-auto drop">
                        <a class="nav-link" routerLink="/About/sustainability"routerLinkActive="active">Sustainability</a>
                        <div class="dropdown-content text-left">
                            <a href="#">Children</a>
                            <a href="#">Environment</a>
                            <a href="#">People</a>
                            <a href="#">Sustainability reporting</a>
                            <a href="#">Discover</a>
                            <a href="#">Newsroom</a>
                        </div>
                    </li>
                    <li class="nav-item mx-4 mr-auto">
                        <a class="nav-link" routerLink="/About/discover"routerLinkActive="active">Discover</a>
                    </li>
                    <li class="nav-item mx-4 mr-auto">
                        <a class="nav-link" href="#">Newsroom</a>
                    </li>
                    <li class="nav-item mx-4 mr-auto drop">
                        <a class="nav-link" href="#">Careers</a>
                        <div class="dropdown-content text-left">
                            <a routerLink="/About/whoWe"routerLinkActive="active">Who we are</a>
                            <a href="#">Why join us</a>
                            <a href="#">Behind the Bricks</a>
                            <a href="#">Candidate Zone</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="banner">
        <div class="container text-center">
            <div class="head">Only the best is good enough</div>
            <p class="prag px-4">As children shape their own worlds with LEGO bricks, we play our part in having <span
                    class="specail"> a positive impact on the world </span>they live in today and will inherit in the
                future.</p>
            <div class="linkA">
                <a href="">Learn about the LEGO Group
                    <i class="fa fa-angle-right ml-2 "></i></a>
            </div>
        </div>
    </div>
    <div class="banTwo text-center">
        <div class="container text-center">
            <div class="head">Inspire and Develop the Builders of Tomorrow</div>
            <p class="prag px-4">LEGO play starts to release a child’s <span class="specail">potential</span> from the
                moment they pick up their first brick.</p>
            <div class="linkA">
                <a href="">Learn more about the LEGO Brand
                    <i class="fa fa-angle-right ml-2 "></i></a>
            </div>
        </div>
    </div>
    <div class="container history">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 pl-4">
                <div class="container text-left">
                    <h1>The LEGO History</h1>
                    <h5>Founded in 1932 by Ole Kirk Kristiansen, and based on the iconic LEGO brick, it is one of the
                        world’s leading manufacturers of play materials.</h5>
                    <div class="linkA">
                        <a href="">LEGO history timeline overview
                            <i class="fa fa-angle-right ml-2 "></i></a>
                    </div>
                    <div class="linkA">
                        <a href="">LEGO history deep dive
                            <i class="fa fa-angle-right ml-2 "></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-12">
                <img src="assets/images/home--history.jpg">
            </div>
        </div>
    </div>
    <div class="line">
        <div class="container text-center">
            <h2 style="font-weight: bold;">18,800 people in 40+ countries</h2>
        </div>
        <div class="container-fluid text-center">
            <div class="linkA mt-3 pt-4">
                <a href="">Contact us
                    <i class="fa fa-angle-right ml-2 "></i></a>
            </div>
        </div>
        <div class="container-fluid">
            <img src="assets/images/people-in-countries.jpg">
        </div>
    </div>
    <div class="container foot">
        <div class="container-fluid text-center text-sm-left m-4 pb-4 pt-4">
            <h1 style="font-weight: bold;">Supporting a more creative and resilient society</h1>
        </div>
        <div class="row pt-4">
            <div class="col-md-3 col-sm-6 col-6 hov">
                <img src="assets/images/logo-lego-education.jpg">
                <div class="linkA mt-4" style="font-size: 16px;">
                    <a href="education.html">LEGO Education website
                        <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-6 hov">
                <img src="assets/images/logo-lego-foundation.jpg">
                <div class="linkA mt-4" style="font-size: 16px;">
                    <a routerLink="/About/foundation" routerLinkActive="active">LEGO Foundation website
                        <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-6 hov">
                <img src="assets/images/logo-lego-house.jpg">
                <div class="linkA mt-4" style="font-size: 16px;">
                    <a href="house.html">LEGO House website
                        <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-6 hov">
                <img src="assets/images/logo-Ventures.jpg">
                <div class="linkA mt-4" style="font-size: 16px;">
                    <a routerLink="/About/ventures" routerLinkActive="active">LEGO Ventures website
                        <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Body Main -->