<!-- Start Body Main -->
<div class="main text-center mb-4">
    <div class="container">
        <span class="header">{{'About.AboutUs' | translate}}</span>
        <nav class="navbar navbar-expand-md text-center">
            <button class="navbar-toggler ml-auto" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
                aria-expanded="false">
                <span><i class="fa fa-angle-down"></i></span>
            </button>
            <div id="my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav m-auto pb-4">
                    <li class="nav-item mx-4 mr-auto drop">
                        <a class="nav-link" routerLink="/About/legoGroup" routerLinkActive="active">{{'About.LEGOGroup' | translate}}</a>
                        <div class="dropdown-content text-justify" dir="auto">
                            <a href="javascript:void(0)">{{'About.Management' | translate}}</a>
                            <a href="javascript:void(0)">{{'About.LEGOBrand' | translate}}</a>
                            <a href="javascript:void(0)">{{'About.Ownership' | translate}}</a>
                            <a href="javascript:void(0)">{{'About.PoliciesReporting' | translate}}</a>
                        </div>
                    </li>
                    <li class="nav-item mx-4 mr-auto drop">
                        <a class="nav-link" routerLink="/About/sustainability"
                            routerLinkActive="active">{{'About.Sustainability' | translate}}</a>
                        <div class="dropdown-content text-justify" dir="auto">
                            <a href="javascript:void(0)">{{'About.Children' | translate}}</a>
                            <a href="javascript:void(0)">{{'About.Environment' | translate}}</a>
                            <a href="javascript:void(0)">{{'About.People' | translate}}</a>
                            <a href="javascript:void(0)">{{'About.SusReporting' | translate}}</a>
                            <a href="javascript:void(0)">{{'About.Discover' | translate}}</a>
                            <a href="javascript:void(0)">{{'About.Newsroom' | translate}}</a>
                        </div>
                    </li>
                    <li class="nav-item mx-4 mr-auto">
                        <a class="nav-link" routerLink="/About/discover" routerLinkActive="active">{{'About.Discover' | translate}}</a>
                    </li>
                    <li class="nav-item mx-4 mr-auto">
                        <a class="nav-link" href="javascript:void(0)">{{'About.Newsroom' | translate}}</a>
                    </li>
                    <li class="nav-item mx-4 mr-auto drop">
                        <a class="nav-link" href="javascript:void(0)">{{'About.Careers' | translate}}</a>
                        <div class="dropdown-content text-justify" dir="auto">
                            <a routerLink="/About/whoWe" routerLinkActive="active">{{'About.Who' | translate}}</a>
                            <a href="javascript:void(0)">{{'About.WhyJoin' | translate}}</a>
                            <a href="javascript:void(0)">{{'About.BehindBricks' | translate}}</a>
                            <a href="javascript:void(0)">{{'About.CandidateZone' | translate}}</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="banner">
        <div class="container text-center">
            <div class="head">{{'About.OnlyGood' | translate}}</div>
            <p class="prag px-4">{{'About.children1' | translate}}<span class="specail">{{'About.children2' | translate}}</span>{{'About.children3' | translate}}</p>
            <div class="linkA">
                <a href="javascript:void(0)">{{'About.LearnAbout' | translate}}
                    <i class="fa fa-angle-right ml-2 "></i></a>
            </div>
        </div>
    </div>
    <div class="banTwo text-center">
        <div class="container text-center">
            <div class="head">{{'About.Inspire' | translate}}</div>
            <p class="prag px-4">{{'About.Inspire1' | translate}}<span class="specail">{{'About.Inspire2' | translate}}</span> {{'About.Inspire3' | translate}}</p>
            <div class="linkA">
                <a href="javascript:void(0)">{{'About.Inspire4' | translate}}
                    <i class="fa fa-angle-right ml-2 "></i></a>
            </div>
        </div>
    </div>
    <div class="container history">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 pl-4">
                <div class="container">
                    <h1>{{'About.History' | translate}}</h1>
                    <h5>{{'About.History1' | translate}}</h5>
                    <div class="linkA">
                        <a href="javascript:void(0)">{{'About.History2' | translate}}
                            <i class="fa fa-angle-right ml-2 "></i></a>
                    </div>
                    <div class="linkA">
                        <a href="javascript:void(0)">{{'About.History3' | translate}}
                            <i class="fa fa-angle-right ml-2 "></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-12">
                <img src="assets/images/home--history.jpg">
            </div>
        </div>
    </div>
    <div class="line">
        <div class="container text-center">
            <h2 style="font-weight: bold;">{{'About.History4' | translate}}</h2>
        </div>
        <div class="container-fluid text-center">
            <div class="linkA mt-3 pt-4">
                <a href="javascript:void(0)">{{'About.Contact' | translate}}
                    <i class="fa fa-angle-right ml-2 "></i></a>
            </div>
        </div>
        <div class="container-fluid">
            <img src="assets/images/people-in-countries.jpg">
        </div>
    </div>
    <div class="container foot">
        <div class="container-fluid text-justify  m-4 pb-4 pt-4">
            <h1 style="font-weight: bold;" dir="auto">{{'About.Foot' | translate}}</h1>
        </div>
        <div class="row pt-4">
            <div class="col-md-3 col-sm-6 col-6 hov">
                <img src="assets/images/logo-lego-education.jpg">
                <div class="linkA mt-4" style="font-size: 16px;">
                    <a href="javascript:void(0)">{{'About.Education' | translate}}
                        <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-6 hov">
                <img src="assets/images/logo-lego-foundation.jpg">
                <div class="linkA mt-4" style="font-size: 16px;">
                    <a routerLink="/About/foundation" routerLinkActive="active">{{'About.Foundation' | translate}}
                        <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-6 hov">
                <img src="assets/images/logo-lego-house.jpg">
                <div class="linkA mt-4" style="font-size: 16px;">
                    <a href="javascript:void(0)">{{'About.House' | translate}}
                        <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-6 hov">
                <img src="assets/images/logo-Ventures.jpg">
                <div class="linkA mt-4" style="font-size: 16px;">
                    <a href="javascript:void(0)">{{'About.Ventures' | translate}}
                        <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Body Main -->