<!-- Start Body Main -->
<div class="container-fluid" style="padding-left: 0;padding-right: 0;overflow-x: hidden;" dir="auto">
    <div class="container text-center">
        <span class="header" routerLink="/About/AboutUs" routerLinkActive="active">{{'About.AboutUs' |translate}}</span>
        <nav class="navbar navbar-expand-md text-center">
            <button class="navbar-toggler ml-auto" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
                aria-expanded="false">
                <i class="fa fa-angle-down"></i>
            </button>
            <div id="my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav m-auto pb-4">
                    <li class="nav-item mx-4 mr-auto drop">
                        <a class="nav-link" routerLink="/About/legoGroup" routerLinkActive="active">{{'About.LEGOGroup'
                            |translate}}</a>
                        <div class="dropdown-content text-left">
                            <a href="#">{{'About.Management' |translate}}</a>
                            <a href="#">{{'About.LEGOBrand' |translate}}</a>
                            <a href="#">{{'About.Ownership' |translate}}</a>
                            <a href="#">{{'About.SusReporting' |translate}}</a>
                        </div>
                    </li>
                    <li class="nav-item mx-4 mr-auto drop">
                        <a class="nav-link" routerLink="/About/sustainability"
                            routerLinkActive="active">{{'About.Sustainability' |translate}}</a>
                        <div class="dropdown-content text-left">
                            <a href="#">{{'About.Children' |translate}}</a>
                            <a href="#">{{'About.Environment' |translate}}</a>
                            <a href="#">{{'About.People' |translate}}</a>
                            <a href="#">{{'About.SusReporting' |translate}}</a>
                            <a href="#">{{'About.Discover' |translate}}</a>
                            <a href="#">{{'About.Newsroom' |translate}}</a>
                        </div>
                    </li>
                    <li class="nav-item mx-4 mr-auto">
                        <a class="nav-link" routerLink="/About/discover" routerLinkActive="active">{{'About.Discover' |translate}}</a>
                    </li>
                    <li class="nav-item mx-4 mr-auto">
                        <a class="nav-link" href="#">{{'About.Newsroom' |translate}}</a>
                    </li>
                    <li class="nav-item mx-4 mr-auto drop">
                        <a class="nav-link" href="#">{{'About.Careers' |translate}}</a>
                        <div class="dropdown-content text-left">
                            <a routerLink="/About/whoWe" routerLinkActive="active">{{'About.Who' |translate}}</a>
                            <a href="#">{{'About.WhyJoin' |translate}}</a>
                            <a href="#">{{'About.BehindBricks' |translate}}</a>
                            <a href="#">{{'About.CandidateZone' |translate}}</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- Start main -->
    <div class="container-fluid text-center mb-3">
        <div class="row">
            <div class="col-12">
                <h1>{{'About.Who' |translate}}</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" style="padding: 0;">
                <img src="assets/images/Who_we_are_cover.jpg" width="100%">
            </div>
            <div class="col-12 text-center" style="padding: 0;font-size: 14px !important;">
                <h2 class="m-4">{{'WHOWE.Hello'|translate}}</h2>
                <h6 class="m-4" style="font-weight: lighter;">{{'WHOWE.Welcome'|translate}}</h6>
                <h6 class="m-4" style="font-weight: lighter;">{{'WHOWE.discover'|translate}}</h6>
                <button
                    style="background: rgba(0, 0, 0, 0.781); color: #fff;border-radius: 5px;">{{'WHOWE.Explore'|translate}}</button>
            </div>
        </div>
    </div>
    <div class="container-fluid my-4">
        <div class="row">
            <div class="col-md-4 p-4 m-0" style="background: red; color: #fff;">
                <h2>{{'WHOWE.locations'|translate}}</h2>
                <p>{{'WHOWE.Billund'|translate}}</p>
            </div>
            <div class="col-md-8" style="padding: 0;">
                <img src="assets/images/Locations.jpg" alt="" width="100%">
            </div>
        </div>
    </div>
    <div class="container-fluid row" style="font-size: 14px !important;">
        <div class="text-center cenDIV col-md-4 col-6">
            <img src="assets/images/who1.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
            <h6>{{'WHOWE.Billund2'|translate}}</h6>
            <p>{{'WHOWE.deeply'|translate}}</p>
        </div>
        <div class="text-center cenDIV col-md-4 col-6">
            <img src="assets/images/who2.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
            <h6>{{'WHOWE.Enfield'|translate}}</h6>
            <p>{{'WHOWE.know'|translate}}</p>
        </div>
        <div class="text-center cenDIV col-md-4 col-6">
            <img src="assets/images/who3.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
            <h6>{{'WHOWE.London'|translate}}</h6>
            <p>{{'WHOWE.know'|translate}}</p>
        </div>
        <div class="text-center cenDIV col-md-4 col-6">
            <img src="assets/images/who4.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
            <h6>{{'WHOWE.Shanghai'|translate}}</h6>
            <p>{{'WHOWE.deeply'|translate}}</p>
        </div>
        <div class="text-center cenDIV col-md-4 col-6">
            <img src="assets/images/who5.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
            <h6>{{'WHOWE.Singapore'|translate}}</h6>
            <p>{{'WHOWE.know'|translate}}</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8" style="padding: 0;">
                <img src="assets/images/Ownership_tall.jpg" alt="" width="100%">
            </div>
            <div class="col-md-4 p-2" style="background: #eee;">
                <p style="font-size: 14px;">{{'WHOWE.Kirk'|translate}}</p>
            </div>
        </div>
    </div>
    <div class="container-fluid row" style="font-size: 14px !important;">
        <div class="text-center cenDIV col-md-4 col-6">
            <img src="assets/images/DicHistory.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
            <h6>{{'WHOWE.history'|translate}}</h6>
            <p>{{'WHOWE.deeply'|translate}}</p>
            <div class="linkA  text-center">
                <a href="">{{'WHOWE.ReadMore'|translate}}
                    <i class="fa fa-angle-right ml-2 "></i></a>
            </div>
        </div>
        <div class="text-center cenDIV col-md-4 col-6">
            <img src="assets/images/Brand.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
            <h6>{{'WHOWE.framework'|translate}}</h6>
            <p>{{'WHOWE.know'|translate}}</p>
            <div class="linkA  text-center">
                <a href="">{{'WHOWE.ReadMore'|translate}}
                    <i class="fa fa-angle-right ml-2 "></i></a>
            </div>
        </div>
        <div class="text-center cenDIV col-md-4 col-6">
            <img src="assets/images/Building_for_tomorrow.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
            <h6>{{'WHOWE.tomorrow'|translate}}</h6>
            <p>{{'WHOWE.know'|translate}}</p>
            <div class="linkA  text-center">
                <a href="">{{'WHOWE.ReadMore'|translate}}
                    <i class="fa fa-angle-right ml-2 "></i></a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 p-2" style="background: #EE7500;color: #fff;">
                <h2 class="text-center">{{'WHOWE.LEGOGroup'|translate}}</h2>
                <p style="font-size: 14px;">{{'WHOWE.Diversity'|translate}}</p>
            </div>
            <div class="col-md-8" style="padding: 0;">
                <img src="assets/images/Inclusion.jpg" alt="" width="100%">
            </div>
        </div>
    </div>
    <div class="container-fluid mb-4">
        <div class="row">
            <div class="col-md-8" style="padding: 0;">
                <img src="assets/images/Responsible_children_engagement.jpg" alt="" width="100%">
            </div>
            <div class="col-md-4 p-2" style="background: #009BD7;color: #fff;">
                <h2 class="text-center">{{'WHOWE.children'|translate}} </h2>
                <p style="font-size: 14px;">{{'WHOWE.were'|translate}}</p>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center" style="padding-bottom: 40px !important;">
        <h2 style="font-weight: lighter;padding: 16px;">{{'WHOWE.This'|translate}}</h2>
        <div class="linkA  text-center" style="font-size: 12px;padding: 10px;">
            <a class="mr-4" href="">{{'WHOWE.opportunities'|translate}}
                <i class="fa fa-angle-right ml-2 "></i></a>
            <a class="ml-4" href="">{{'WHOWE.join'|translate}}
                <i class="fa fa-angle-right ml-2 "></i></a>
        </div>
    </div>
    <!-- end main -->
</div>
<!-- End Body Main -->