<!-- <ul class="nav d-flex justify-content-between bg-warning text-justify" dir="auto">
  <li class="nav-item ">
    <a class="nav-link active" aria-current="page" href="Mybag2.html" style="padding-top: 30px">{{'Checkout.MyBag' |
      translate}}</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="#"><img src="lego.png"
        style="width: 75px; height: auto;margin-left: auto;margin-right: auto"></a>
  </li>
  <li class="nav-item">
    <p class="nav-link" style="padding-top: 30px"><i class="fas fa-lock"></i> {{'Checkout.SecureCheckout' | translate}}
    </p>
    

  </li>

</ul> -->
<!-- -------------------header------------------------- -->
<div class="container-fluid text-justify" dir="auto">
  <div class="row">
    <div class="col-lg-9"><br>
      <p class="fs-6"><i class="fas fa-check-circle"></i>{{'Checkout.ShippingAddress' | translate}}</p>
      <form>
        <div class="col-sm-15">
          <input [(ngModel)]="Username" pattern="[A-Za-z]{3}" title="Three letter country code" type="text" name="xyz" class="form-control"
            placeholder="Name" aria-label="Name">
           
        </div><br>

        <div class="row g-3">
          <div class="col-sm-7">
            <input [(ngModel)]="City"  pattern="[A-Za-z]{30}" title="City must Contain Letters Only" type="text" class="form-control"
              placeholder="City" name="city" aria-label="City">
            
          </div>
          <div class="col-sm">
            <input name="street" [(ngModel)]="Street" type="text" class="form-control" placeholder="Street Address" aria-label="Street Address">
          </div>
          <div class="col-sm">
            <input name="zip" [(ngModel)]="Zip" pattern="[0-9]{10}" type="number" class="form-control" placeholder="Zip" aria-label="Zip">
          </div>
        </div>
        <br>

        <p class="fs-4"><i class="fas fa-check-circle"></i>{{'Checkout.ContactInfo' | translate}} </p>

        <div class="row g-3">
          <div class="col-sm-7">
            <input name="email" type="email" class="form-control" placeholder="Email" aria-label="Email">
          </div>
          <div class="col-sm">
            <input name="mobilephone" [(ngModel)]="mobilePhone" type="text" class="form-control" placeholder="Mobile Phone" aria-label="Mobile Phone">
          </div>
        </div>
        <br>
        <!--     //////////Accordion start//////////-->
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <!-- <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <p class="fs-5">{{'Checkout.VIPCode' | translate}}</p>
              </button>
            </h2> -->
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">

                <b>{{'Checkout.Got' | translate}} </b> <br><br>
                {{'Checkout.Discount' | translate}} <br><br>
                <div class="row g-3">
                  <div class="col-sm-7">
                    <input type="email" class="form-control" placeholder="Email" aria-label="Email">
                  </div>
                  <div class="col-sm">
                    <input type="number" class="form-control" placeholder="Mobile Phone" aria-label="Mobile Phone">
                  </div>
                </div>
                <br>

              </div>
            </div>
          </div>
        </div>
        <!--/////////////////////////Accord end/////////////////-->
        <br>
        <p class="fs-4"><i class="fas fa-check-circle"></i>{{'Checkout.Payment' | translate}} </p>
        <div class="col-sm-15">
          <input type="text" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
            placeholder="Card Number" aria-label="Card Number">
        </div><br>

        <div class="row g-3">
          <div class="col-sm-3">
            <input type="text" class="form-control" placeholder="Expiry Date" aria-label="Expiry Date">
          </div>
          <div class="col-sm-1">
            <input type="text" class="form-control" placeholder="CVV" aria-label="CVV">
          </div>
        </div><br>
        <button type="submit" class="btn btn-primary" (click)="addOrder()">{{'Checkout.Place' | translate}}</button>

      </form>
    </div>
    <!-- -------------------Right Left ------------------ -->
    <div class="col-lg-3" style="padding: 15px;">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Order Summary</h5>
          <hr>
          <p class="card-text" style="  word-spacing: 135px;">{{'Checkout.subtotal'|translate}} {{getTotal() | currency}}</p>
          <p class="card-text" style="  word-spacing: 80px;">{{'Checkout.StandardShipping'|translate}}</p>
          <p class="card-text" style="  word-spacing: 170px;">{{'TAX'|translate}} {{tax}}%</p>
          <p class="card-title" style="  word-spacing: 105px;"><b>{{'Checkout.OrderTotal'|translate}} {{ getTotal()+getTotal()*14/100 | currency}}</b></p>
          <img src='assets/images/freeholiday.png' style="width: 150px; height: auto;">
          
        </div>
      </div>
      <!--/////////////////////////////////////////////////////-->
      <div class="card text-center" style="width: 18rem;" dir="auto">
        <div class="card-body text-justify" dir="auto">
          <h5 class="card-title">{{'Checkout.Wedding' | translate}} 2018</h5>
          <!-- <p class="card-text"><p style="color: darkseagreen">Available now</p> <br> QTY : 3 <br>  <b>$9.99</b></p> -->
          <!-- <p style="color: darkseagreen">Available now</p> <br> QTY : 3 <br><b>$9.99</b> -->
          <p style="color: darkseagreen">{{'Checkout.Available' | translate}}</p> <br>$9.99<br>

          <img src="assets/images/weddingfavour.png" style="width: 150px; height: auto;">

          <p style="color: darkseagreen">{{'Checkout.Available' | translate}}</p> <br> {{'Checkout.QTY' | translate}} :
          3 <br> <b>$9.99</b>
          <!-- <img src="weddingfavour.png" style="width: 150px; height: auto;"> -->

        </div>
      </div>

    </div>


    <!-- -------------------Right Left end------------------ -->


  </div>
</div>


<!-- -------------------Footer------------------------- -->

<footer>
  <div class="container-fluid text-justify" dir="auto">
    <div class="row">
      <div class="col-lg-7">
        <p>{{'Checkout.prag' | translate}} </p>

      </div>
      <br><br><br><br><br><br>
      <div class="col-lg-5">
        <i class="fab fa-cc-mastercard" style="font-size: 50px"></i>
        <i class="fab fa-cc-visa" style="font-size: 50px"></i>
        <i class="fab fa-cc-discover" style="font-size: 50px"></i>
        <i class="fab fa-cc-amex" style="font-size: 50px"></i>
        <i class="fab fa-cc-paypal" style="font-size: 50px"></i>
      </div>
    </div>
  </div>
</footer>