body {
  background-color: rgb(242, 245, 247);
  font-family: "PT Sans", sans-serif;
}

#main {
  border-style: solid;
  border-color: white;
  border-width: 4px;
  height: 80%;
}

/*navigation bar*/
nav {
  background-color: rgb(255, 207, 0);
}

#backBtn {
  font-size: 28px;
  color: rgb(74, 74, 74);
}

#backBtn:hover {
  color: gray;
}

#navTxt {
  font-size: 30px; 

}

#navBtn {
  font-size: 50px;
  color: rgb(74, 74, 74);
}

#editTxt{
  margin-bottom: 20px; 
  font-size: 22px; 
  margin-top: 20px;
}

/*Textboxes*/
#usernmShowTxt,
#passwordShowTxt,
#monthDateShow,
#dayDateShow,
#yearDateShow,
#countryShowTxt {
  font-size: 13px;
  height: 47px;
  border-width: 2px;
  width: 90%;
  margin-left: 20px;
}

/*hover*/
#usernmShowTxt :hover,
#passwordShowTxt:hover,
#monthDateShow:hover,
#dayDateShow:hover,
#yearDateShow:hover,
#countryShowTxt:hover {
  border-color: rgb(151, 151, 151);
}

/*labels*/
#usernmShowLbl,
#passwordShowLbl,
#monthShowLbl,
#dayShowLbl,
#yearShowLbl {
  color: rgb(51, 60, 69);
  font-size: 14px;
  margin-left: 23px;
}

/*Username*/
#usernmShowTxt {
  background-color: rgb(242, 245, 247);
}

/*Password*/
#passwordShowTxt {
  color: rgb(160, 178, 206);
}

#passwordShowTxt:focus,
#countryShowTxt:focus {
  border-color: rgb(0, 108, 182);
}

/*Date of Birth*/
/* Month */
#monthDateShow,
#dayDateShow,
#yearDateShow {
  color: rgb(160, 178, 206);
}

#countryShowTxt {
  color: dimgray;
  margin-bottom: 30px;
}

/*saveBtn*/
#saveNewEdit {
  width: 40%;
  height: 53px;
  font-size: 20px;
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;

}

/*gobackbtn*/
#gobackLink {
  font-size: 14px;
  color: rgb(0, 108, 182);
}
