<div class="topBar">
    <div class="container-fluid">
        <div class="row text-center marvelBar">
            <div class="col-12 py-3">
                <img class="img-fluid mr-sm-4 mr-2" src="/assets/themes/about/Marvel.png" alt="Marvel">

                <a routerLink='/Themes/Products' routerLinkActive="active"
                    class="btn mr-sm-4 mr-2 btn-outline-light rounded-pill shadow-none"
                    role="button">Products</a>
                <a routerLink='/Themes/About' routerLinkActive="active" class="btn btn-outline-light rounded-pill shadow-none"
                    role="button">About</a>
            </div>
        </div>
    </div>
</div>