    <!-- Start Body Main -->
    <div class="container-fluid" style="padding-left: 0;padding-right: 0;">
        <nav class="navbar navbar-expand-md fixed-top">
            <!-- Brand -->
            <a class="navbar-brand" href="#"><img src="assets/images/logo-Ventures.jpg"></a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler wcolor" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon ">v</span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Investment Areas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Incubation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid pad">
            <div class="row sliderSec pt-4" height="500px" width="100%">
                <div class="col-md-6">
                    <div id="slider" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#slider" data-slide-to="0" class="active"></li>
                            <li data-target="#slider" data-slide-to="1"></li>
                            <li data-target="#slider" data-slide-to="2"></li>
                            <li data-target="#slider" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="assets/images/slider1.jpg" alt="First slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>“LEGO Ventures has been extremely helpful in areas like supply chain, marketing,
                                        brand, and company building. The LEGO Group is a role model for startups like
                                        ours, and it’s incredible to benefit from their expertise through LEGO Ventures”
                                    </h5>
                                    <p>Zahra Kassam
                                        Founder & CEO of <a href="#">Monti Kids</a></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/slider2.jpg" alt="Second slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Announcing the LEGO Ventures Incubation Studio</h5>
                                    <p>We’re thrilled to announce the launch of our new Incubation Studio! Watch the
                                        video to learn more.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/slider3.jpg" id="scro" alt="Third slide" height="450px" width="100%">
                                <div class="carousel-caption d-none d-md-block">
                                    <h1>Spotlight</h1>
                                    <p>HOMER offers personalized, fun, and proven learning products for kids ages 2-8 to
                                        help build confidence, mastery, and a love of learning.</p>
                                    <p><a href="#">Check out HOMER here</a></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/slider4.jpg" alt="Fourth slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <h1>beyond the brick</h1>
                                    <p>LEGO Ventures is the venture capital arm of the LEGO® brand, focusing on the
                                        future of learning, creativity, and play.</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev icon-shap" href="#slider" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next icon-shap" href="#slider" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 wcolor">
                    <!-- <p>Our strength comes from concentrating on the idea. Dig deep, range wide – and the ideas will come.”</p>
                    <p>Godtfred Kirk Christiansen
                        Second generation owner of the LEGO Group, 1955</p> -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Body Main -->