<!--start-->
<div class="container-fluid" id="banner">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner text-center">
        <div class="carousel-item active">
          <p>
            <img src="assets\images\ExpressShipping-Home-202012-Sitewide-Banner.png">
            <small>date for Express Delivery by Christmas is 12/22 at 12:00pm EST.</small>
          </p>

        </div>
        <div class="carousel-item">
          <p>
            <img src="assets\images\40416-202011-Sitewide-Banner.png">
            <small>Ice Skating Rink with purchases over $150</small>
          </p>
        </div>

      </div>
      <a class="carousel-control-prev pb-3" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next pb-3" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon " aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <!--end-->

  <!--start-->
  <div class="container-fluid cover">
    <div class="row">
      <div>

        <picture>
          <source media="(min-width:901px)" srcset="assets\images\LBR2009_Dotcom_Shipping_Hero_Image-Desktop_1920x600.jpg"
            style="width:100%">
          <source media="(min-width:601px)" srcset="assets\images\LBR2009_Dotcom_Shipping_Hero_Image-Tablet_1152x450.jpg"
            style="width:100%">
          <source media="(max-width:601px)" srcset="assets\images\LBR2009_Dotcom_Shipping_Hero_Image-Mobile_750x750.jpg"
            style="width:100%">
          <img src="assets\images\LBR2009_Dotcom_Shipping_Hero_Image-Desktop_1920x600.jpg" style="width:100%">
        </picture>
        <div class="coverxs d-block d-sm-none" style="background-color: rgb(0,32,87); color: white;">
          <h1>Guaranteed delivery by Christmas</h1>
          <span>Order by 12/22 at 12:00pm EST for Express Shipping by Christmas or check for a LEGO® Store near
            you.</span>
          <div>
            <button type="button" class="btn btn-light px-3 py-2 m-2">
              <strong>Shop now</strong>
              <svg width="16" height="16"
                class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
                viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
                <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
              </svg>
            </button>
            <button type="button" class="btn btn-light px-3 py-2 m-2">
              <strong>Find a store</strong>
              <svg width="16" height="16"
                class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
                viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
                <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
              </svg>
            </button>
          </div>
        </div>
        <div class="d-none d-sm-block d-md-none" style="background-color: rgb(0,32,87); color: white; ">
          <h1>Guaranteed delivery by Christmas</h1>
          <span>Order by 12/22 at 12:00pm EST for Express Shipping by Christmas or check for a LEGO® Store near
            you.</span>
          <div>
            <button type="button" class="btn btn-light px-3 py-2 m-2">
              <strong>Shop now</strong>
              <svg width="16" height="16"
                class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
                viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
                <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
              </svg>
            </button>
            <button type="button" class="btn btn-light px-3 py-2 m-2">
              <strong>Find a store</strong>
              <svg width="16" height="16"
                class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
                viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
                <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
              </svg>
            </button>
          </div>
        </div>

        <div class="covercontent d-none d-md-block ">
          <h1>Guaranteed delivery by Christmas</h1>
          <span>Order by 12/22 at 12:00pm EST for Express Shipping by Christmas or check for a LEGO® Store near
            you.</span>
          <div>
            <button type="button" class="btn btn-light px-3 py-2 m-2">
              <strong>Shop now</strong>
              <svg width="16" height="16"
                class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
                viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
                <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
              </svg>
            </button>
            <button type="button" class="btn btn-light px-3 py-2 m-2">
              <strong>Find a store</strong>
              <svg width="16" height="16"
                class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
                viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
                <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end-->

  <!--start-->
  <div class="container">
    <div class="row4 py-5 d-flex justify-content-center text-center flex-wrap">
      <div class="p-3">
        <a href="#44">
          <img src="assets\images\novelty-2020-06-Quicklink.jpg">
          <div>
            <small>News</small>
          </div>
        </a>
      </div>
      <div class="p-3">
        <a href="#44">
          <img src="assets\images\853967-Home-202011-Quicklink.png">
          <div>
            <small>Exclusives</small>
          </div>
        </a>
      </div>
      <div class="p-3">
        <a href="#44">
          <img src="assets\images\40416-HomePage-202011-Quicklink.png">
          <div>
            <small>Offers</small>
          </div>
        </a>
      </div>
      <div class="p-3">
        <a href="#44">
          <img src="assets\images\front-QL.jpg">
          <div>
            <small>Holiday</small>
          </div>
        </a>
      </div>
      <div class="p-3">
        <a href="#44">
          <img src="assets\images\bfcm-gift-card-Quicklink.png">
          <div>
            <small>Gift Cards</small>
          </div>
        </a>
      </div>
      <div class="p-3">
        <a href="#44">
          <img src="assets\images\BestSeller-Home-202010-Quicklink.png">
          <div>
            <small>Best Sellers</small>
          </div>
        </a>
      </div>
      <div class="p-3">
        <a href="#44">
          <img src="assets\images\Quicklink-pick-a-brick.jpg">
          <div>
            <small>Pick-a-Brick</small>
          </div>
        </a>
      </div>
      <div class="p-3">
        <a href="#44">
          <img src="assets\images\VIPSoftLaunch-Quicklink.jpg">
          <div>
            <small>VIP</small>
          </div>
        </a>
      </div>

    </div>
  </div>
  <!--end-->

  <!--start-->
  <div class="container-fluid my-5"
    style="background-image: url('/assets/images/GiftCards-202011-Hero-Short-Large.jpeg'); background-size: cover;">
    <div class="container py-4">
      <p>LEGO® Gift Cards – The gift that lets them choose</p>
      <button type="button" class="btn px-3 py-2 m-2 text-white" style="background-color: black;">
        <strong>Shop now</strong>
        <svg width="16" height="16"
          class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
          viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
          <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
        </svg>
      </button>
    </div>
  </div>


  <!--end-->


  <!--start-->
  <div class="container-fluid row7img pb-5">
    <picture>
      <source media="(min-width:901px)" srcset="assets\images\40416-HomePage-202011-Hero-Standard-Large.jpg">
      <source media="(min-width:601px)" srcset="assets\images\40416-HomePage-202011-Hero-Standard-Medium.jpg">
      <source media="(max-width:600px)" srcset="assets\images\40416-HomePage-202011-Hero-Standard-Small.jpeg">
      <img src="assets\images\40416-HomePage-202011-Hero-Standard-Large.jpg" alt="Flowers" style="width:auto;">
    </picture>
    <div class="row7container">
      <h1>FREE Ice Skating Rink</h1>
      <span>Get this exclusive holiday gift FREE when you spend over $150.*</span>
      <div>
        <button type="button" class="btn px-3 py-2 m-2 text-white" style="background-color: black;">
          <strong>Shop now</strong>
          <svg width="16" height="16"
            class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
            viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
            <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
          </svg>
        </button>
      </div>
    </div>
    <div class="row7containersmall py-3" style="background-color: rgb(192, 225, 215);">
      <h5>FREE Ice Skating Rink</h5>
      <span>Get this exclusive holiday gift FREE when you spend over $150.*</span>
      <div>
        <button type="button" class="btn px-3 py-2 m-2 text-white" style="background-color: black;">
          <strong>Shop now</strong>
          <svg width="16" height="16"
            class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
            viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
            <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!--end-->

  <!--start-->
  <div class="container-fluid Trending">
    <h2 class="text-left my-3">Trending now</h2>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4  col-xs-12 text-center">
        <img class="mb-3" src="assets\images\60261-Home-202006-Block-Standard.jpeg">
        <h5 class="mb-3">Pack their bags</h5>
        <p class="m-0">Inspire them to travel the world with new LEGO® City sets.</p>
        <a href="#fff">Shop Now
          <svg width="10" height="10"
            class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
            viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
            <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
          </svg>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4  col-xs-12 text-center">
        <img class="mb-3" src="assets\images\41913-Home-202006-Block-Standard.jpeg">
        <h5 class="mb-3">Create more fun with friends</h5>
        <p class="m-0">Give the gift of LEGO® DOTS with colorful new bracelets and tiles.</p>
        <a href="#fff">Shop Now
          <svg width="10" height="10"
            class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
            viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
            <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
          </svg>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4  col-xs-12 text-center">
        <img class="mb-3" src="assets\images\75969-HP-202006-Block-Standard.jpeg">
        <h5 class="mb-3">Expand their universe</h5>
        <p class="m-0">Give Harry Potter™ fans more to explore with the new Hogwarts™ Astronomy Tower and other sets.
        </p>
        <a href="#fff">Shop Now
          <svg width="10" height="10"
            class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
            viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
            <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
          </svg>
        </a>
      </div>




    </div>
  </div>
  <!--end-->


  <!--start-->
  <div class="container-fluid my-5 p-0 animationSection">
    <video  width="100%" loop="true" autoplay="autoplay">
      <source src="assets\images\51515-MB-Hero-Standard.mp4" type="video/mp4">
      <source src="assets\images\51515-MB-Hero-Standard.ogg" type="video/ogg">
      Your browser does not support the video tag.
    </video>
    <picture id="robotimage">
      <source media="(max-width:600px)" srcset="assets\images\51515-MB-Home-202010-Hero-Standard-Small.jpeg">
      <source media="(min-width:901px)" srcset="assets\images\51515-MB-Home-202010-Hero-Standard-Large.jpeg">
      <source media="(min-width:601px)" srcset="assets\images\51515-MB-Home-202010-Hero-Standard-Medium.jpeg">
      <img src="assets\images\40416-HomePage-202011-Hero-Standard-Large.jpg" alt="Flowers" style="width:auto;">
    </picture>

    <div class="animationSectionContainer text-white">
      <h2>Robot building fun</h2>
      <span>Inspire kids to build, code and play with new MINDSTORMS® Robot Inventor.</span>
      <div>
        <button type="button" class="btn px-3 py-2 m-2" style="color:black; background-color: white;">
          Shop now
          <svg width="16" height="16"
            class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
            viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
            <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
          </svg>
        </button>
      </div>
    </div>

    <div class="animationSectionContainersmall py-3">
      <h5>FREE Ice Skating Rink</h5>
      <span>Get this exclusive holiday gift FREE when you spend over $150.*</span>
      <div>
        <button type="button" class="btn px-3 py-2 m-2" style="color:black; background-color: white;">
          Shop now
          <svg width="16" height="16"
            class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
            viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
            <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
          </svg>
        </button>
      </div>
    </div>



  </div>
  <!--end-->

  <!--start-->
  <div class="container-fluid Trending">
    <h2 class="text-left my-3">Spotlight on</h2>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12 text-center">
        <img class="mb-3" src="assets\images\5006230-home-202011-Block-Mixed-Large.jpeg">
        <h5 class="mb-3">Let's hang out</h5>
        <p class="m-0">Fill your space with playful LEGO® accents for your home.</p>
        <a href="#fff">Shop Now
          <svg width="10" height="10"
            class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
            viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
            <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
          </svg>
        </a>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12 text-center">
        <img class="mb-3" src="assets\images\Keyrings-Product-Home-2003--Block-Standard.jpeg">
        <h5 class="mb-3">Show your LEGO® love</h5>
        <p class="m-0">Find a keyring with your favourite LEGO characters or bricks.</p>
        <a href="#fff">Shop Now
          <svg width="10" height="10"
            class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
            viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
            <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <!--end-->

  <!--start-->
  <div class="container-fluid row7img mt-5 p-0">
    <picture>
      <source media="(min-width:901px)" srcset="assets\images\45678LS-Home-2020-Hero-Standard-Large.jpeg">
      <source media="(min-width:601px)" srcset="assets\images\45678LS-Home-2020-Hero-Standard-Medium.jpeg">
      <source media="(max-width:600px)" srcset="assets\images\45678LS-Home-2020-Hero-Standard-Small.jpeg">
      <img src="assets\images\40416-HomePage-202011-Hero-Standard-Large.jpg" alt="Flowers" style="width:auto;">
    </picture>
    <div class="row7container">
      <h1>Keep them learning at home</h1>
      <span>For the first time ever, the award-winning LEGO® Education line is now available for home learning.</span>
      <div>
        <button type="button" class="btn px-3 py-2 m-2 text-white" style="background-color: black;">
          Shop now
          <svg width="16" height="16"
            class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
            viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
            <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
          </svg>
        </button>
        <button type="button" class="btn px-3 py-2 m-2 text-white" style="background-color: black;">
          Learn more
          <svg width="16" height="16"
            class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
            viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
            <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
          </svg>
        </button>
      </div>
    </div>
    <div class="row7containersmall py-3" style="background-color: rgb(243, 243, 243);">
      <h5>FREE Ice Skating Rink</h5>
      <span>Get this exclusive holiday gift FREE when you spend over $150.*</span>
      <div>
        <button type="button" class="btn px-3 py-2 m-2 text-white" style="background-color: black;">
          <strong>Shop now</strong>
          <svg width="16" height="16"
            class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
            viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
            <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!--end-->