<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">

            <span class="text-start"><h3>My Cart</h3><a href="Wish.html" ><p class="text-end">View Wish List (1)</p></a></span> 
            <div class="jumbotron" style="background-color: #ffeacc ;padding:10px ;border: 1px #cfcfcf solid ">
                <p style="text-align: center">We’re currently receiving a lot of LEGO orders! We’re expecting delivery to take longer than usual. Please<br>order early and check your Order Status for updates.<br>
                </p>
                  </div><br>
                  <!--//////////////////////-->
      <div class="container">
        <div class="row">
                 <div class="table-responsive">
      
            <div class="col-12">
              <table class="table table-image table-responsive">
                <thead>
                  <tr>
                    <th scope="col">Detail</th> 
      		      <th scope="col"></th>
                    <th scope="col" class="tab-space">Quantity</th>
                    <th scope="col"></th>
                    <th scope="col"></th>

                     <th scope="col" >Total</th>
                  </tr>
                </thead>
                <tbody>
                    
      <!--              //////////header of row 1 ///////////-->
                   <tr style="background-color: #bafff1">
      <!--
                           
      -->
                    <th scope="row"></th>
                    <td class="w-25">
             <span>You've qualified for a FREE </span>
                  </td>
                    <td>
                   Holiday Gift  
                      
                    </td>
                   <td>2020 </td>
                   <td></td>
                   <td></td>
                  </tr>
      <!--              ///////////////////-->
      <!--              //////////////row 1 ///////////////////-->
                  <tr *ngFor="let prd of ProductList">
                    <th scope="row"><img src={{prd.image}} style="width:30%;height: auto"></th>
                    <td class="w-25">
                  <small><b>{{prd.name}}<br>(8-14)</b></small><br><br>
                        <small style="color: green">Available now</small><br><br>
                        <small>Qty:3</small><br><br>
                        <small><b>{{prd.price}}</b></small>
                  </td>
                    <td><br><br>
                         <!-- <div class="btn-group" role="group" aria-label="Basic outlined example">
                         <button type="button" class="btn btn-outline-primary">-</button>
                         <button type="button" class="btn btn-outline-primary">3</button>
                         <button type="button" class="btn btn-outline-primary">+</button>
                            </div>  -->
                      
                    </td>
                   <td><br><br><i class="far fa-trash-alt" style="font-size: 19px;color:#1f8bff"></i></td>
                   <td><br><br><i class="far fa-heart"  style="font-size: 19px;color:#1f8bff"></i></td>
                   <td><br><br><small><b>{{prd.price}}</b></small></td>
                  </tr>
                  -->
                </tbody>
              </table>
                      </div>
          </div>
        </div>
      </div>          
                      
      <!--  ///////////////////-->

            </div>
            <div class="col-lg-4">
                <br> <p class="fs-4">Order Summary</p> 
            <hr>
                <div class="accordion" id="accordionExample">
                    <!--     //////////Accordion 1 start//////////-->
    
      <!-- <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <p class="fs-5">Enter Promo Code</p>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
                <div class="input-group mb-3">
             <input type="text" class="form-control" placeholder="Enter Code" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Apply</button>
            </div>
                
    
    
              </div>
              </div>
            </div> -->
                     <!--     //////////Accordion 1 End//////////-->
                     <!--     //////////////Accord2///////////////-->
               <!-- <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <p class="fs-5">Select Shipping</p>
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse " aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
          
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
         <label class="form-check-label" for="flexRadioDefault1">
          <span style="  word-spacing: 195px;">StandardShipping Free </span> <br> <small>3-5 business days</small>
            </label>
         </div><br>
              
        <div class="form-check">
         <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
         <label class="form-check-label" for="flexRadioDefault2">
          <span style="  word-spacing: 215px;">ُExpressSaver $18.95</span><br> <small>2-3 business days</small>
          </label>
          </div><br>
              
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
         <label class="form-check-label" for="flexRadioDefault3">
           <span style="  word-spacing: 250px;">Express $23.95</span><br> <small>1-2 business days</small>
         </label>
         </div><br>
         
        </div>
            
        </div>
      </div> -->
    <!--         ///////////////Accord 2 end //////////////////////-->
    </div><br>
    <p class="fs-6"><b>Enter a ZIP code to estimate tax and delivery</b></p>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Example:96321" aria-label="Recipient's username" aria-describedby="button-addon2">
     <button class="btn btn-outline-secondary" type="button" id="button-addon2">Apply</button>
    </div>
    <div>  
        <!--             <div class="text-start">Subtotal (5) items</div><div class="text-end">$51.97</div>-->
                     <div style="  word-spacing: 295px;">Subtotal :{{getTotal()}} </div> <br>
                     <p style="  word-spacing: 240px;"> Standardshipping Free</p> 
                     <div style="word-spacing: 340px;">TaX 14%</div><br>
        
                     <!-- <p style="  word-spacing: 280px;"> <b>Ordertotal $56.26</b></p>  -->
                     <p style="  word-spacing: 250px;"> <b>Ordertotal: {{ getTotal()+getTotal()*14/100 }}</b></p> 
                    
                     <!-- <td>Total: {{ getTotal() }}</td> -->
                </div>

                <div class="d-grid gap-2">
                    <button class="btn btn-warning w-100"   type="button" ><i class="fas fa-lock"></i> <a href="CheckOut.html">Checkout Securely</a></button>
                    </div>
                    <br>

                    <div class="d-grid gap-2">
                        <button class="btn btn-primary w-100" type="button" > Pay With <i><b>Pay Pall</b></i></button>
                        </div>
                         <br>
                         <div style="background-color: aquamarine ;padding:10px" >
                            <p class="text-center">Congratulations - you get FREE shipping!</p>
                            </div><br>
                            
                            <div class="bg-light">
                            Help with your order:<br><br>
                           <a href="#">Shipping & Handling</a>
                           <a>Returns</a><br><br>
                           Payment methods<br>
                              <span class="col-lg-5">  
                           
                            <i class="fab fa-cc-mastercard" style="font-size: 50px" ></i>
                            <i class="fab fa-cc-visa" style="font-size: 50px"></i>
                            <i class="fab fa-cc-discover" style="font-size: 50px"></i>
                            <i class="fab fa-cc-amex" style="font-size: 50px"></i>
                            <i class="fab fa-cc-paypal" style="font-size: 50px"></i>
            
            
            
                       
                        </span>
                            </div>



            </div>
        </div>
    </div>
    <app-recommended-products></app-recommended-products>
    <!-- <ngb-accordion #acc="ngbAccordion">
      <ngb-panel id="toggle-1" title="First panel">
        <ng-template ngbPanelContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
          aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
          sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
          craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
          labore sustainable VHS.
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
    <button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-1')">Toggle first</button> -->