<app-menu></app-menu>
<div class="row">
    <div class="col p-4 pt-5">
        <h3 class="font-weight-bold darkBlue">Dashboard</h3>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card h-100 dash1">
                    <div class="card-body text-white">
                        <div class="d-flex">
                            <div>
                                <h2 class="font-weight-bold">{{totalOrds|number}}</h2>
                                <p><small class="font-weight-bold">Orders</small></p>
                            </div>
                            <div class="align-self-center ml-auto">
                                <i class="fa fa-shopping-bag fa-4x dashIcons" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="text-center dash1Bottom">
                        <a name="" id="" class="btn moreInfoBtn text-white shadow-none"
                            routerLink="/Admin/Orders" role="button">More Info <i
                                class="fa fa-arrow-circle-right fa-xs" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-3 mt-md-0">
                <div class="card h-100 dash2">
                    <div class="card-body text-white">
                        <div class="d-flex">
                            <div>
                                <h2 class="font-weight-bold">{{totalPrds|number}}</h2>
                                <p><small class="font-weight-bold">Products</small></p>
                            </div>
                            <div class="align-self-center ml-auto">
                                <i class="fas fa-box-open fa-4x dashIcons" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="text-center dash2Bottom">
                        <a name="" id="" class="btn moreInfoBtn text-white shadow-none"
                        routerLink="/Admin/Products" role="button">More Info <i
                                class="fa fa-arrow-circle-right fa-xs" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card h-100 dash3">
                    <div class="card-body text-white">
                        <div class="d-flex">
                            <div>
                                <h2 class="font-weight-bold">{{totalCusts}}</h2>
                                <p><small class="font-weight-bold">Customers</small></p>
                            </div>
                            <div class="align-self-center ml-auto">
                                <i class="fas fa-user fa-4x dashIcons" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="text-center dash3Bottom">
                        <a name="" id="" class="btn moreInfoBtn text-white shadow-none"
                        routerLink="/Admin/Customers" role="button">More Info <i
                                class="fa fa-arrow-circle-right fa-xs" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-3 mt-md-0">
                <div class="card h-100 dash4">
                    <div class="card-body text-white">
                        <div class="d-flex">
                            <div>
                                <h2 class="font-weight-bold">{{totalCats}}</h2>
                                <p><small class="font-weight-bold">Categories</small></p>
                            </div>
                            <div class="align-self-center ml-auto">
                                <i class="fa fa-server fa-4x dashIcons" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="text-center dash4Bottom">
                        <a name="" id="" class="btn moreInfoBtn text-white shadow-none"
                        routerLink="/Admin/Categories" role="button">More Info <i
                                class="fa fa-arrow-circle-right fa-xs" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card h-100 totalSalesDash">
                    <div class="card-body text-white">
                        <div class="d-flex">
                            <p class="card-text font-weight-bold">Total Sales</p>
                            <a href="javascript:void(0)" class="ml-auto totalSalesView"><small>View Report</small></a>
                        </div>
                        <h2 class="font-weight-bold">$74,958.49</h2>
                        <p class="totalSalesDashTxt"><small>$7,395.37 in last month</small></p>
                        <p><small class="font-weight-bold">This week so far</small></p>
                        <div class="d-flex align-items-center">
                            <h2 class="font-weight-bold">$1,338.72</h2>
                            <div class="d-flex flex-column ml-auto">
                                <span class="text-right totalSalesDashPercentage"><i
                                        class="fas fa-long-arrow-alt-up fa-sm"></i>
                                    4.63%</span>
                                <span class="totalSalesDashTxt"><small>vs. last week</small></span>
                            </div>
                        </div>
                    </div>
                    <canvas id="line-chart" class="pr-2" width="800" height="150"></canvas>
                    <!-- <canvas id="bar-chart1" width="800" height="250"></canvas> -->
                </div>
            </div>
            <div class="col-md-6 mt-3 mt-md-0">
                <div class="card h-100">
                    <div class="card-body averageOrderDashTxt">
                        <div class="d-flex">
                            <p class="card-text font-weight-bold">Average order</p>
                            <div class="dropdown dropleft ml-auto">
                                <a href="" class="dopdown-toggle" id="dropdownMenuButton3"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-h averageOrderDashIcon" aria-hidden="true"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                    <a class="dropdown-item" href="javascript:void(0)">15 Days</a>
                                    <a class="dropdown-item" href="javascript:void(0)">30 Days</a>
                                    <a class="dropdown-item" href="javascript:void(0)">3 Months</a>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <h2 class="font-weight-bold">$463.35</h2>
                            <div class="d-flex flex-column ml-auto">
                                <span class="text-right averageOrderDashPercentage"><i
                                        class="fas fa-long-arrow-alt-up fa-sm"></i> 4.63%</span>
                                <span><small>vs. last week</small></span>
                            </div>
                        </div>
                        <p class="mt-5"><small>Orders over time</small></p>

                    </div>
                    <!-- <canvas id="line-chart" width="800" height="150"></canvas> -->
                    <canvas id="bar-chart2" width="800" height="210"></canvas>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body targetTxt">
                        <h5 class="card-title font-weight-bold">Target Sales</h5>
                        <p class="card-text targetSubTxt">Total performance for this month</p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <h5 class="card-title font-weight-bold align-self-center m-0">Orders
                                            </h5>
                                            <div class="ml-auto">
                                                <span
                                                    class="text-right font-weight-bold align-self-center target">
                                                    {{totalOrds}}</span>
                                            </div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-danger" role="progressbar"
                                                style="width: 20%" aria-valuenow="20" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                        <div class="d-flex mt-2">
                                            <p class="targetSubTxt">Monthly Target</p>
                                            <div class="ml-auto">
                                                <span class="text-right targetSubTxt">
                                                    100%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-md-0 mt-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <h5 class="card-title font-weight-bold align-self-center m-0">Income
                                            </h5>
                                            <div class="ml-auto">
                                                <span
                                                    class="text-right font-weight-bold align-self-center target">
                                                    $2797</span>
                                            </div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar"
                                                style="width: 70%" aria-valuenow="70" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                        <div class="d-flex mt-2">
                                            <p class="targetSubTxt">Monthly Target</p>
                                            <div class="ml-auto">
                                                <span class="text-right targetSubTxt">
                                                    100%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div class="card">
                    <div class="card-body recentOrders">
                        <h5 class="font-weight-bold">Recent Orders</h5>
                        <div class="table-responsive">
                            <table class="table table-hover" id="data">
                                <thead>
                                    <tr>
                                        <th scope="col"><small>OrderNo.</small></th>
                                        <th scope="col"><small>Customer</small>
                                        </th>
                                        <th scope="col"><small>Amount</small></th>
                                        <th scope="col"><small>Date</small></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of orderList">
                                        <th scope="row">#{{item.id}}</th>
                                        <td class="name text-truncate">{{getCustomerNameByID(item.userID)}}</td>
                                        <td class="price text-truncate"><small>{{item.amount|currency}}</small></td>
                                        <td class="date text-truncate"><small>{{item.date|date}}</small></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>