<app-menu></app-menu>
<div class="row">
  <div class="col p-4 pt-5">
    <div class="d-flex">
      <h3 class="font-weight-bold darkBlue">Products</h3>
      <button class="ml-auto addBtn btn shadow-none font-weight-bold text-white"
      (click)="goToAddProducts()" type="button">
        <i class="fa fa-plus mr-2"></i> Add Product
      </button>
    </div>
    <div class="input-group col-lg-4 col-md-6 col-12 ml-auto px-0 mt-3">
      <input autocomplete="off" class="form-control py-2 shadow-none border-right-0 border" type="search"
        placeholder="Search by ID" id="search-input">
      <span class="input-group-append">
        <button class="btn shadow-none border-left-0 border" type="button">
          <i class="fa fa-search searchIcon"></i>
        </button>
      </span>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-hover" id="data">
            <thead>
              <tr>
                <th scope="col"><small>ProductID</small></th>
                <th scope="col"><small>Image</small></th>
                <th scope="col"><small>Name</small></th>
                <th scope="col"><small>Price</small></th>
                <th scope="col"><small>Stock</small></th>
                <th scope="col"><small>Rating</small></th>
                <th scope="col"><small>Category</small></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of productList">
                <th scope="row">#{{item.id}}</th>
                <td><img [src]="item.image" width="50px" height="50px" alt="image"></td>
                <td class="name text-truncate">{{item.name}}</td>
                <td class="price"><small class="font-weight-bold">{{item.price|currency}}</small></td>
                <td class="stock"><small>{{item.stock}}</small></td>
                <td class="stock text-truncate">
                    <i *ngFor="let i of [].constructor(item.rating)" class="fa fa-star text-warning" aria-hidden="true"></i>
                </td>
                <td class="category"><small>{{getCategoryNameByID(item.categoryID)}}</small></td>
                <td class="d-flex">
                  <button type="button" class="btn shadow-none darkBlue" (click)="goToProduct(item.id)"><i class="fa fa-eye"
                      aria-hidden="true"></i></button>

                  <button type="button" (click)="deleteProduct(item.id)" class="btn shadow-none darkBlue"><i
                      class="fa fa-trash" aria-hidden="true"></i></button>
                <!-- 
                  <button type="button" onclick="Update(
                                        '${element.id}',
                                        '${element.image}',
                                        '${element.name}',
                                        '${element.description}',
                                        '${element.price}',
                                        '${element.stock}'
            
                                        )" class="btn shadow-none darkBlue"><i class="fas fa-edit"
                      aria-hidden="true"></i></button>
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
