<!--start-->
<div class="container-fluid" id="banner">
    <div class="row d-flex justify-content-center">
      <p>
        <img src="assets\images\40416-202011-Sitewide-Banner.png">
        <small>Ice Skating Rink with purchases over $150</small>
        <a href="#ff"> shop now</a>
      </p>

    </div>
  </div>
  <!--end-->

  <!--start-->
  <div class="container-fluid firstbar">
    <div class="row">
      <ul class="breadcrumb bg-white w-100 m-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Offers & Sale</li>
      </ul>
    </div>
  </div>
  <!--end-->

  <!--start-->
  <div class="container-fluid secondbar">
    <div class="row d-flex justify-content-center py-3">
      <button type="button" class="btn mx-2 rounded-pill"> <a href="#ff">Offers</a></button>
      <button type="button" class="btn mx-2 rounded-pill"><a href="#ff">Sales</a></button>
    </div>
  </div>
  <!--end-->

  <!--start-->
  <div class="container-fluid thirdbar">
    <div class="row d-flex justify-content-center py-5">
      <h1> This Week's Featured Offer </h1>
    </div>
  </div>
  <!--end-->


  <!--start-->
  <div class="container-fluid FREEIceSkatingRink px-0">
    <div class="row no-gutters">

      <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12 FREEIceSkatingRink1">
        <img src="assets\images\tgropa.png">
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 FREEIceSkatingRink2 p-5 ">
        <h2>FREE Ice Skating Rink</h2>
        <span>Discover the perfect Christmas gift with this LEGO® exclusive rotating Ice Rink featuring a booth
          and two minifigure skaters wearing never-seen-before winter sweaters. Bring it home as your FREE
          gift with purchases over $150. 12/1-12/31 or while supplies last.*</span>
        <div>
          <button type="button" class="btn px-3 py-2 m-2 text-white " style="background-color: black;">
            <strong>Shop now</strong>
            <svg width="16" height="16"
              class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
              viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
              <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
            </svg>
          </button>
        </div>
      </div>

    </div>
  </div>
  <!--end-->

  <!--start-->
  <div class="container-fluid thirdbar">
    <div class="row d-flex justify-content-center text-center py-5">
      <h1> Check out the latest VIP promotions and offers </h1>
    </div>
  </div>
  <!--end-->


  <!--start-->
  <div class="container-fluid FREEIceSkatingRink px-0">
    <div class="row no-gutters">

      <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12 FREEIceSkatingRink1">
        <img src="assets\images\tgropa2.png">
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 FREEIceSkatingRink2 FREEIceSkatingRinkvip p-5 ">
        <h2>VIP only! FREE VIP Holiday Gift Set</h2>
        <span>Wrap their gift in LEGO® style with this VIP Holiday Gift Set. The set includes one Christmas
          Card, one Gift Tag, two sheets of Wrapping Paper, one Sticker Sheet, one Gift Bag and one Ribbon.
          Get it all FREE with purchases over $40. 12/4-12/31 or while supplies last.*</span>
        <div>
          <button type="button" class="btn px-3 py-2 m-2 " style="background-color: white; color: black;">
            <strong>Shop now</strong>
            <svg width="16" height="16"
              class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
              viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
              <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
            </svg>
          </button>
        </div>
      </div>

    </div>
  </div>
  <!--end-->

  <!--start-->
  <div class="container-fluid Trending my-5">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12 text-center">
        <img class="mb-3" src="assets\images\80015-VIP2X-202012-Block-Standard.jpeg">
        <h5 class="mb-3">Monkie Kid's Cloud Roadster</h5>
        <p class="m-0">Earn Double VIP Points with this set 12/11-12/31.</p>
        <a href="#fff">Shop Now
          <svg width="10" height="10"
            class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
            viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
            <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
          </svg>
        </a>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12 text-center">
        <img class="mb-3" src="assets\images\60261-VIP2X-202012-Block-Standard (1).jpeg">
        <h5 class="mb-3">Central Airport</h5>
        <p class="m-0">Earn Double VIP Points with this set 12/11-12/31.</p>
        <a href="#fff">Shop Now
          <svg width="10" height="10"
            class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
            viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
            <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <!--end-->

  <!--start-->
  <div class="container-fluid Trending my-5">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12 text-center">
        <img class="mb-3" src="assets\images\60262-VIP2X-202012-Block-Standard.jpeg">
        <h5 class="mb-3">Passenger Airplane</h5>
        <p class="m-0">Earn Double VIP Points with this set 12/1-12/31.</p>
        <a href="#fff">Shop Now
          <svg width="10" height="10"
            class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
            viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
            <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
          </svg>
        </a>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12 text-center">
        <img class="mb-3" src="assets\images\10933-VIP2X-202012-Block-Standard.jpeg">
        <h5 class="mb-3">Tower Crane & Construction</h5>
        <p class="m-0">Earn Double VIP Points with this set 12/1-12/31.</p>
        <a href="#fff">Shop Now
          <svg width="10" height="10"
            class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
            viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
            <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <!--end-->


  <!--start-->
  <div class="container-fluid p-0 section10">
    <picture>
      <source media="(min-width:1201px)" srcset="assets\images\VIP-GA-202004-Hero-Short-Large.jpeg" style="width:100%">
      <source media="(min-width:601px)" srcset="assets\images\VIP-GA-202004-Hero-Short-Medium.jpeg" style="width:100%">
      <source media="(max-width:600px)" srcset="assets\images\VIP-GA-202004-Hero-Short-Small.jpeg" style="width:100%">
      <img src="assets\images\VIP-GA-202004-Hero-Short-Large.jpeg" style="width:100%">
    </picture>

    <div class="section10content">
      <span>Join VIP and start earning points with every purchase!</span>
      <div>
        <button type="button" class="btn px-3 py-2 m-2 " style="background-color: white; color: black;">
          <strong>Shop now</strong>
          <svg width="16" height="16"
            class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
            viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
            <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
          </svg>
        </button>
      </div>
    </div>
    <div class="section10content2 p-3">
      <span>Join VIP and start earning points with every purchase!</span>
      <div>
        <button type="button" class="btn px-3 py-2 m-2 " style="background-color: white; color: black;">
          <strong>Shop now</strong>
          <svg width="16" height="16"
            class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
            viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
            <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
          </svg>
        </button>
      </div>
    </div>


  </div>
  <!--end-->

  <!--start-->
  <div class="container-fluid thirdbar">
    <div class="row d-flex justify-content-center text-center py-5">
      <h1>Sale Now On! Save on great sets</h1>
    </div>
  </div>
  <!--end-->

  <!--start-->
  <div class="container-fluid p-0 section11">
    <picture>
      <source media="(min-width:1201px)" srcset="assets\images\Sale-2020-Hero-Short-Large.jpeg" style="width:100%">
      <source media="(min-width:601px)" srcset="assets\images\Sale-2020-Hero-Short-Medium.jpeg" style="width:100%">
      <source media="(max-width:600px)" srcset="assets\images\Sale-2020-Hero-Short-Small.jpeg" style="width:100%">
      <img src="assets\images\Sale-2020-Hero-Short-Large.jpeg" style="width:100%">
    </picture>

    <div class="section11content">
      <span>Check out our current sale and find great savings on selected items for every LEGO® fan on your list!</span>
      <div>
        <button type="button" class="btn px-3 py-2 m-2 " style="background-color: white; color: black;">
          <strong>Shop now</strong>
          <svg width="16" height="16"
            class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
            viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
            <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
          </svg>
        </button>
      </div>
    </div>
    <div class="section11content2 p-3">
      <span>Check out our current sale and find great savings on selected items for every LEGO® fan on your list!</span>
      <div>
        <button type="button" class="btn px-3 py-2 m-2 " style="background-color: white; color: black;">
          <strong>Shop now</strong>
          <svg width="16" height="16"
            class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
            viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
            <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
          </svg>
        </button>
      </div>
    </div>


  </div>
  <!--end-->

  <!--start-->
  <div class="container-fluid thirdbar">
    <div class="row d-flex justify-content-center text-center py-5">
      <h1>In-Store Promotions</h1>
    </div>
  </div>
  <!--end-->

  <!--start-->
  <div class="container-fluid FREEIceSkatingRink px-0">
    <div class="row no-gutters">

      <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12 FREEIceSkatingRink1">
        <img src="assets\images\sortatr.png">
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 FREEIceSkatingRink2 p-5 instorepromotion">
        <h2>In store only! FREE Train set</h2>
        <span>Young rail fans will love building and rebuilding this colorful LEGO® Creator set and imagining the fun
          adventures they can have with this powerful little train. It's your FREE gift with purchases of $40 or more.
          In-store only. 12/14-12/31 or while supplies last.*</span>
        <div>
          <button type="button" class="btn px-3 py-2 m-2 text-white " style="background-color: black;">
            find a store
            <svg width="16" height="16"
              class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
              viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
              <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
            </svg>
          </button>
        </div>
      </div>

    </div>
  </div>
  <!--end-->
  <!--start-->
  <div class="container-fluid FREEIceSkatingRink px-0">
    <div class="row no-gutters">

      <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12 FREEIceSkatingRink1">
        <img src="assets\images\sortatr2.png">
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 FREEIceSkatingRink2 p-5 instorepromotion2">
        <h2>In-store only! FREE Olaf's Traveling Sleigh</h2>
        <span>Help Olaf deliver a holiday gift on his festive sleigh! Go off track with a pair of skis and ski poles,
          and delight the residents of Arendelle with a beautiful Christmas tree! Right now, get this FREE gift with
          qualifying LEGO® | Disney Frozen purchases over $50. 12/1-12/31 only.*</span>
        <div>
          <button type="button" class="btn px-3 py-2 m-2 text-white " style="background-color: black;">
            find a store
            <svg width="16" height="16"
              class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
              viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
              <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
            </svg>
          </button>
        </div>
      </div>

    </div>
  </div>
  <!--end-->
  <!--start-->
  <div class="container-fluid FREEIceSkatingRink px-0">
    <div class="row no-gutters">



      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 FREEIceSkatingRink2 p-5 instorepromotion3">
        <h2>In-store only! FREE Mini BB-8™</h2>
        <span>Collect your own mini version of Rey’s favorite droid, BB-8™, complete with a rotating head. Right now,
          get this FREE gift with qualifying in-store LEGO® Star Wars™ purchases over $40. 12/1-12/31 only.*</span>
        <div>
          <button type="button" class="btn px-3 py-2 m-2 text-white " style="background-color: black;">
            find a store
            <svg width="16" height="16"
              class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
              viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
              <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12 FREEIceSkatingRink1">
        <img src="assets\images\sortatr3.png">
      </div>

    </div>
  </div>
  <!--end-->

  <!--start-->
  <div class="container-fluid Trending my-5">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12 text-center">
        <img class="mb-3" src="assets\images\life-magazine-2019-block.jpeg">
        <h5 class="mb-3">Free LEGO Life Magazine Subscription!</h5>
        <p class="m-0">LEGO Life Magazine is packed with activities, comics, building ideas and more! Sign your child up
          for a free subscription today.</p>
        <a href="#fff">Sign up
          <svg width="10" height="10"
            class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
            viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
            <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
          </svg>
        </a>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12 text-center">
        <img class="mb-3" src="assets\images\SMS-General-Promo-Block-Standard.jpeg">
        <h5 class="mb-3">Get LEGO® texts!</h5>
        <p class="m-0">Check out all our current offers and gifts!</p>
        <a href="#fff">learn more
          <svg width="10" height="10"
            class="Chevron__ChevronIcon-sc-1q2x5f4-0 ljcWvn LinkWithChevron__StyledChevron-s8q0kp-1 dPpLSd"
            viewBox="0 0 18 28" aria-hidden="true" data-di-res-id="f01b8605-944e899d" data-di-rand="1608420761213">
            <path d="M1.825 28L18 14 1.825 0 0 1.715 14.196 14 0 26.285z" fill="currentColor"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <!--end-->

  <!--start-->
  <div class="container-fluid thirdbar">
    <div class="row d-flex justify-content-center text-center py-5">
      <h1>*Terms & Conditions</h1>
    </div>
  </div>
  <!--end-->

  <!--start-->
  <div class="container-fluid">
    <div class="row pl-3 py-5 ">
      <p>VIP Double Points Offer applies to items 60262 and 10933 only.</p>
      <span>For online and telephone orders, points are attributed to the account once payment has been received. Points
        will not be credited retrospectively for purchases made prior to, or after, this promotion. Points will not be
        earned on any applicable taxes or delivery charges. Offer cannot be combined with any other VIP offer, discount
        or voucher. Offer is not valid at LEGOLAND® Parks, LEGOLAND Discovery Centres or LEGO Certified Stores. The LEGO
        Group reserves the right to amend or cancel this promotion at any time without prior notice. Subject to
        availability.</span>

    </div>
    <div class="row pl-3 py-5 ">
      <p>VIP Double Points Offer applies to items 80015 and 60261 only.</p>
      <span>For online and telephone orders, points are attributed to the account once payment has been received. Points
        will not be credited retrospectively for purchases made prior to, or after, this promotion. Points will not be
        earned on any applicable taxes or delivery charges. Offer cannot be combined with any other VIP offer, discount
        or voucher. Offer is not valid at LEGOLAND® Parks, LEGOLAND Discovery Centres or LEGO Certified Stores. The LEGO
        Group reserves the right to amend or cancel this promotion at any time without prior notice. Subject to
        availability.</span>

    </div>

    <div class="row pl-3 py-5">
      <span>Free Exclusive LEGO® Ice Skating Rink (40416) with purchases of $150 or more: Offer valid 12/1-12/31 in LEGO
        Stores and LEGO.com. Offer is available while supplies last only. Offer is only valid on purchases totaling $150
        or more. Item 40416. One free item per customer. Qualifying amount applies to merchandise only and does not
        include applicable tax charges. Offer is not valid toward sale items, prior purchases or gift cards. May not be
        combined with any other offer, discount or coupon. Offer is not valid at LEGOLAND® Parks or LEGOLAND Discovery
        Centers. Free gift cannot be exchanged or substituted for any other item or cash value. Set is available
        exclusively through this offer; additional sets cannot be purchased. The LEGO Group reserves the right to cancel
        or modify any promotion without prior notice.</span>

    </div>

    <div class="row pl-3 py-5">
      <span>Free LEGO® VIP Holiday Gift Set (5006482) offer is valid for VIP purchases in LEGO Stores and LEGO.com
        orders only from 12/04/2020 to 12/31/2020, while stocks last. Qualifying purchase must be equal to or greater
        than $40 in LEGO merchandise only. Bricks & Pieces orders are not valid for this promotion. One set per
        household. Cannot be applied to previous purchases or combined with any other discount, offer or free gift . If
        the qualifying LEGO purchase(s) is returned to us for a refund, the gift must also be returned to us together
        with the qualifying LEGO purchase(s). Merchandise totals calculated after VIP Point redemption; any applicable
        taxes, delivery charges or value of gift cards purchased do not apply to merchandise totals. It cannot be
        purchased, exchanged or substituted for any other item or cash value. Offers not valid at LEGOLAND® Parks,
        LEGOLAND Discovery Centres, LEGO Certified Stores and Mobile Retail locations. The LEGO Group reserves the right
        to cancel or modify this promotion at any time without prior notice. VIP Membership required.</span>

    </div>

    <div class="row pl-3 py-5">
      <span>LEGO® Olaf's Traveling Sleigh (item 40361) offer is valid at LEGO Stores. Offer valid from 12/1/20 through
        11:59pm EST, 12/31/20 or while supplies last only. Qualifying purchase must be equal to or greater than $50 in
        LEGO | Disney Frozen and LEGO | Disney Frozen 2 sets only (41164, 41165, 41166, 41167, 41168, 41169 and 43172);
        any applicable taxes, shipping charges, or value of gift cards purchased do not apply to merchandise total.
        Offer excludes Bricks & Pieces and backorder items. Cannot be applied to previous purchases or combined with any
        other discount, offer or free gift. One free set per household. Item is valued at approximately a $12.99 (US) /
        $16.99 (CA) retail value and cannot be exchanged or substituted for any other item or cash value. Item is
        available exclusively through this offer; additional sets cannot be purchased. Offers not valid at LEGOLAND®
        Parks or LEGOLAND Discovery Centers. The LEGO Group reserves the right to cancel or modify these promotions at
        any time without advance notice.</span>

    </div>

    <div class="row pl-3 py-5">
      <span>Free LEGO® BB-8™ (40288) with LEGO Star Wars™ purchases of $40 or more: Offer valid 12/1/20 - 12/31/20 in
        LEGO Stores. Offer is available while supplies last only. Offer is only valid on LEGO Star Wars™ purchases
        totaling $40 or more. Item 40288. One free item per customer. Qualifying amount applies to merchandise only and
        does not include applicable tax charges. Offer is not valid toward sale items, prior purchases or gift cards.
        May not be combined with any other offer, discount or coupon. Offer is not valid at LEGOLAND® Parks or LEGOLAND
        Discovery Centers. Free gift cannot be exchanged or substituted for any other item or cash value. The LEGO Group
        reserves the right to cancel or modify any promotion without prior notice.</span>

    </div>

    <div class="row pl-3 py-5">
      <span>Free LEGO® Train (30575) with purchases of $40 or more: Offer valid 12/14/20 - 12/31/20 in LEGO Stores.
        Offer is available while supplies last only. Offer is only valid on purchases totaling $40 or more. Item 30575.
        One free item per customer. Qualifying amount applies to merchandise only and does not include applicable tax
        charges. Offer is not valid toward sale items, prior purchases or gift cards. May not be combined with any other
        offer, discount or coupon. Offer is not valid at LEGOLAND® Parks or LEGOLAND Discovery Centers. Free gift cannot
        be exchanged or substituted for any other item or cash value. The LEGO Group reserves the right to cancel or
        modify any promotion without prior notice</span>

    </div>

    <div class="row pl-3 py-5">
      <span> <strong>Free Shipping Every Day offer</strong> applies to online and catalog orders only. Qualifying
        purchase must be equal to or greater than $35 in merchandise only; any applicable taxes, Bricks & Pieces
        replacement parts orders or value of gift cards purchased do not apply to merchandise total. Once your order
        reaches $35 free shipping will automatically be added to your order. Free shipping is via standard ground
        service; upgrades do not apply. If you choose another shipping option, additional charges will apply. Standard
        order processing and delivery time is 3-8 days from the date of order. Free shipping valid only in the
        contiguous United States and Canada. LEGO® Group reserves the right to cancel or modify this promotion at any
        time without advance notice.</span>

    </div>



  </div>