    <div class="container-fluid" style="padding-left: 0;padding-right: 0;overflow-x: hidden;">
        <div class="container text-center">
            <span class="header" routerLink="/About/AboutUs"routerLinkActive="active">About Us</span>
            <nav class="navbar navbar-expand-md text-center">
                <button class="navbar-toggler ml-auto" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false">
                    <i class="fa fa-angle-down"></i>
                </button>
                <div id="my-nav" class="collapse navbar-collapse">
                    <ul class="navbar-nav m-auto pb-4">
                        <li class="nav-item mx-4 mr-auto drop">
                            <a class="nav-link" routerLink="/About/legoGroup"routerLinkActive="active">The LEGO Group</a>
                            <div class="dropdown-content text-left">
                                <a href="#">Management</a>
                                <a href="#">The LEGO Brand</a>
                                <a href="#">Ownership</a>
                                <a href="#">Policies and Reporting</a>
                            </div>
                        </li>
                        <li class="nav-item mx-4 mr-auto drop">
                            <a class="nav-link" routerLink="/About/sustainability"routerLinkActive="active">Sustainability</a>
                            <div class="dropdown-content text-left">
                                <a href="#">Children</a>
                                <a href="#">Environment</a>
                                <a href="#">People</a>
                                <a href="#">Sustainability reporting</a>
                                <a href="#">Discover</a>
                                <a href="#">Newsroom</a>
                            </div>
                        </li>
                        <li class="nav-item mx-4 mr-auto">
                            <a class="nav-link" routerLink="/About/discover"routerLinkActive="active">Discover</a>
                        </li>
                        <li class="nav-item mx-4 mr-auto">
                            <a class="nav-link" href="#">Newsroom</a>
                        </li>
                        <li class="nav-item mx-4 mr-auto drop">
                            <a class="nav-link" href="#">Careers</a>
                            <div class="dropdown-content text-left">
                                <a routerLink="/About/whoWe"routerLinkActive="active">Who we are</a>
                                <a href="#">Why join us</a>
                                <a href="#">Behind the Bricks</a>
                                <a href="#">Candidate Zone</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- main -->
        <div class="container-fluid text-center mb-3">
            <div class="row">
                <div class="col-12">
                    <h1>Discover</h1>
                </div>
            </div>            
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12" style="padding: 0;">
                    <img src="assets/images/hero-overlay-discover.jpg" width="100%">
                </div>
            </div>
        </div>
        <!-- End -->
        <div class="container-fluid row" style="font-size: 14px !important;">
            <div class="text-center cenDIV col-md-4 col-6">
                <img src="assets/images/discover1.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
                <p>We care deeply for our people who are part of making LEGO® play experiences possible and are committed to upholding human rights and ensuring safe, healthy and respectful workplaces for our employees. We strive to champion responsible business principles across the company.</p>
            </div>
            <div class="text-center cenDIV col-md-4 col-6">
                <img src="images/discover2.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
                <p>We know that play is vital to every child’s development. When children play, they learn to solve problems, to be creative, and to become resilient. It helps them thrive in a complex and challenging world.</p>
            </div>
            <div class="text-center cenDIV col-md-4 col-6">
                <img src="assets/images/discover3.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
                <p>We know that play is vital to every child’s development. When children play, they learn to solve problems, to be creative, and to become resilient. It helps them thrive in a complex and challenging world.</p>
            </div>
            <div class="text-center cenDIV col-md-4 col-6">
                <img src="assets/images/discover4.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
                <p>We care deeply for our people who are part of making LEGO® play experiences possible and are committed to upholding human rights and ensuring safe, healthy and respectful workplaces for our employees. We strive to champion responsible business principles across the company.</p>
            </div>
            <div class="text-center cenDIV col-md-4 col-6">
                <img src="assets/images/discover5.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
                <p>We know that play is vital to every child’s development. When children play, they learn to solve problems, to be creative, and to become resilient. It helps them thrive in a complex and challenging world.</p>
            </div>
            <div class="text-center cenDIV col-md-4 col-6">
                <img src="assets/images/discover6.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
                <p>We know that play is vital to every child’s development. When children play, they learn to solve problems, to be creative, and to become resilient. It helps them thrive in a complex and challenging world.</p>
            </div>
            <div class="text-center cenDIV col-md-4 col-6">
                <img src="assets/images/discover7.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
                <p>We care deeply for our people who are part of making LEGO® play experiences possible and are committed to upholding human rights and ensuring safe, healthy and respectful workplaces for our employees. We strive to champion responsible business principles across the company.</p>
            </div>
            <div class="text-center cenDIV col-md-4 col-6">
                <img src="assets/images/discover8.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
                <p>We know that play is vital to every child’s development. When children play, they learn to solve problems, to be creative, and to become resilient. It helps them thrive in a complex and challenging world.</p>
            </div>
            <div class="text-center cenDIV col-md-4 col-6">
                <img src="assets/images/discover9.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
                <p>We know that play is vital to every child’s development. When children play, they learn to solve problems, to be creative, and to become resilient. It helps them thrive in a complex and challenging world.</p>
            </div>
            <div class="text-center cenDIV col-md-4 col-6">
                <img src="assets/images/discover10.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
                <p>We know that play is vital to every child’s development. When children play, they learn to solve problems, to be creative, and to become resilient. It helps them thrive in a complex and challenging world.</p>
            </div>
        </div>
        <!-- end main -->
    </div>