<div class="container-fluid" style="padding-left: 0;padding-right: 0;overflow-x: hidden;">
    <div class="container text-center">
        <span class="header" routerLink="/About/AboutUs" routerLinkActive="active">{{'About.AboutUs' |
            translate}}</span>
        <nav class="navbar navbar-expand-md text-center">
            <button class="navbar-toggler ml-auto" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
                aria-expanded="false">
                <i class="fa fa-angle-down"></i>
            </button>
            <div id="my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav m-auto pb-4">
                    <li class="nav-item mx-4 mr-auto drop">
                        <a class="nav-link" routerLink="/About/legoGroup" routerLinkActive="active">{{'About.LEGOGroup' | translate}}</a>
                        <div class="dropdown-content text-left">
                            <a href="#">{{'About.Management' | translate}}</a>
                            <a href="#">{{'About.LEGOBrand' | translate}}</a>
                            <a href="#">{{'About.Ownership' | translate}}</a>
                            <a href="#">{{'About.PoliciesReporting' | translate}}</a>
                        </div>
                    </li>
                    <li class="nav-item mx-4 mr-auto drop">
                        <a class="nav-link" routerLink="/About/sustainability"
                            routerLinkActive="active">{{'About.Sustainability' | translate}}</a>
                            <div class="dropdown-content text-left">
                                <a href="#">{{'About.Children' | translate}}</a>
                                <a href="#">{{'About.Environment' | translate}}</a>
                                <a href="#">{{'About.People' | translate}}</a>
                                <a href="#">{{'About.SusReporting' | translate}}</a>
                                <a href="#">{{'About.Discover' | translate}}</a>
                                <a href="#">{{'About.Newsroom' | translate}}</a>
                        </div>
                    </li>
                    <li class="nav-item mx-4 mr-auto">
                        <a class="nav-link" routerLink="/About/discover" routerLinkActive="active">{{'About.Discover' | translate}}</a>
                    </li>
                    <li class="nav-item mx-4 mr-auto">
                        <a class="nav-link" href="#">{{'About.Newsroom' | translate}}</a>
                    </li>
                    <li class="nav-item mx-4 mr-auto drop">
                        <a class="nav-link" href="#">{{'About.Careers' | translate}}</a>
                        <div class="dropdown-content text-left">
                            <a routerLink="/About/whoWe" routerLinkActive="active">{{'About.Who' | translate}}</a>
                            <a href="#">{{'About.WhyJoin' | translate}}</a>
                            <a href="#">{{'About.BehindBricks' | translate}}</a>
                            <a href="#">{{'About.CandidateZone' | translate}}</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- main -->
    <div class="container-fluid text-center mb-3">
        <div class="row">
            <div class="col-12">
                <h1>{{'About.Discover' | translate}}</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" style="padding: 0;">
                <img src="assets/images/hero-overlay-discover.jpg" width="100%">
            </div>
        </div>
    </div>
    <!-- End -->
    <div class="container-fluid row" style="font-size: 14px !important;">
        <div class="text-center cenDIV col-md-4 col-6">
            <img src="assets/images/discover1.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
            <p>{{'WHOWE.deeply'|translate}}</p>
        </div>
        <div class="text-center cenDIV col-md-4 col-6">
            <img src="assets/images/discover2.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
            <p>{{'WHOWE.know'|translate}}</p>
        </div>
        <div class="text-center cenDIV col-md-4 col-6">
            <img src="assets/images/discover3.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
            <p>{{'WHOWE.know'|translate}}</p>
        </div>
        <div class="text-center cenDIV col-md-4 col-6">
            <img src="assets/images/discover4.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
            <p>{{'WHOWE.deeply'|translate}}</p>
        </div>
        <div class="text-center cenDIV col-md-4 col-6">
            <img src="assets/images/discover5.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
            <p>{{'WHOWE.know'|translate}}</p>
        </div>
        <div class="text-center cenDIV col-md-4 col-6">
            <img src="assets/images/discover6.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
            <p>{{'WHOWE.know'|translate}}</p>
        </div>
        <div class="text-center cenDIV col-md-4 col-6">
            <img src="assets/images/discover7.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
            <p>{{'WHOWE.deeply'|translate}}</p>
        </div>
        <div class="text-center cenDIV col-md-4 col-6">
            <img src="assets/images/discover8.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
            <p>{{'WHOWE.know'|translate}}</p>
        </div>
        <div class="text-center cenDIV col-md-4 col-6">
            <img src="assets/images/discover9.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
            <p>{{'WHOWE.know'|translate}}</p>
        </div>
        <div class="text-center cenDIV col-md-4 col-6">
            <img src="assets/images/discover10.jpg" class="rounded mb-3" alt="Cinque 1" width="100%">
            <p>{{'WHOWE.know'|translate}}</p>
        </div>
    </div>
    <!-- end main -->
</div>