body {
  background-color: rgb(242, 245, 247);
  font-family: "PT Sans", sans-serif;
}

#main {
  border-style: solid;
  border-color: white;
  border-width: 4px;
  height: 80%;
}

/*navigation bar*/
nav {
  background-color: rgb(255, 207, 0);
  margin-left: -15px;
  margin-right: -15px;
  height: 80%;
  margin-bottom: 20px;
}

#backBtn {
  font-size: 28px;
  color: rgb(74, 74, 74);
}

#backBtn:hover {
  color: gray;
}

#navImg {
  width: 8%;
  height: 8%;
  margin-left: 80px;
}

#navTxt {
  margin-right: 90px;
  font-size: 25px;
}

#navBtn {
  font-size: 55px;
  color: rgb(74, 74, 74);
}

#avatarr {
  border-style: solid;
  border-color: rgb(215, 215, 215);
  border-radius: 50%;
  border-width: 1px;
  width: 20%;
  height: 20%;
}

//Sign In Form
//email
#signinEmailLabel{
    color: dimgray; 
    font-size: 14px; 
    margin-left: 23px;
}

#usernameSigninTxt{
    color: black;
    font-size: 13px; 
    height: 53px; 
    border-width: 2px; 
    width: 90%; 
    margin-left: 20px;
}

//password
#signinPasswordLabel{
    color: dimgray; 
    font-size: 14px; 
    margin-left: 23px;
}

#passwordSigninTxt{
    color: black;
    font-size: 13px; 
    height: 53px; 
    border-width: 2px; 
    width: 90%; 
    margin-left: 20px;
}

//checkBox
#signinCheckLabel{
    margin-top: 4px; 
    margin-left: 35px; 
    margin-bottom: 17px; 
    font-size: 14px;
}

#rememberMeCheck{
    margin-left: 21px; 
    background-color: rgb(160,178,206); 
    border-radius: 25px;
}

#logoutTxt{
    color: dimgray; 
    font-size: 12px; 
    margin-left: 35px
}

//Loginbtn
#signInLogInBtn{
    width:40%; 
    background-color: rgb(0,69,132); 
    color:white; 
    height:53px; 
    font-size: 20px; 
    margin-bottom: 20px;
}

//forgot user or password?
#forgotUsername{
    font-size: 14px; 
    margin-right: 25px; 
    margin-left: 60px;
}

#forgotPassword{
    font-size: 14px; 
    margin-left: 25px; 
    margin-bottom: 10px;
}

#Line{
    width: 40%; 
    border: 1px solid rgb(186, 219, 244);
}

#ORtxt{
    font-size: 14px; 
    padding-left: -20px; 
    margin-top: 5px;
}

//buttons
#ContinueWFBbtn{
    background-color: rgb(66,103,178); 
    color:white; 
    border-radius: 5px; 
    border:none; 
    line-height: 40px; 
    width:63%; 
    margin-left:15px;
}

#FBicon{
    font-size: 25px; 
    margin-right: 7px; 
    padding-top:8px;
}

#googleIcon{
    width:10%; 
    height:10%;
    margin-left: 20px; 
    border-radius: 3px; 
    border-style: solid; 
    border-width: 1px;
    background-color: white;
}

#appleIcon{
    width:10%; 
    height:10%; 
    margin-left:20px; 
    border-radius: 3px;  
    border-style: solid; 
    border-width: 1px; 
}

.vl {
  border-left: 1px solid rgb(156, 154, 154);
  height: 23px;
}

#rememberMeCheck {
  /*position: absolute;*/
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.emailWarn,
.passWarn,
.BDWarn,
.TermsandConditionsWarn{
    font-size: 14px; 
    margin-left: 20px; 
    margin-top: 5px; 
}

.ng-invalid:not(form)  {
  border-color: #a94442;
}

