.sidenav {
  height: 100%;
  width: 250px;
  margin-left: -250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #101924;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  margin: 8px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a.active,
.sidenav a:hover {
  background-color: #182536;
  color: #9D72FF;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav .closebtn:hover {
  background-color: #101924;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
